@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
	string viewPath = ((RazorView)ViewContext.View).ViewPath;
	viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
	String link1 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTM4MDM": "https://brand.eduwill.net/sugang/view.will?mSeq=20212&progress=Z";
	String link2 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTY3NjA": "https://brand.eduwill.net/sugang/view.will?progress=Z&mSeq=17482";
	String link3 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjI1OA": "https://brand.eduwill.net/sugang/view.will?mSeq=16671&progress=Z";
	String link4 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MzM0MDQ=&histYn=N": "https://brand.eduwill.net/sugang/view.will?progress=Z&mSeq=33404&histYn=N";
	String link5 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjkxNjY=": "https://brand.eduwill.net/sugang/view.will?mSeq=29166&progress=Z";
	String link6 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjkxOTc=": "https://brand.eduwill.net/sugang/view.will?progress=Z&mSeq=29197";
	String link7 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTc3ODE=": "https://brand.eduwill.net/sugang/view.will?progress=Z&mSeq=17781";
	String link8 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjkwNzY=": "https://brand.eduwill.net/sugang/view.will?mSeq=29076&progress=Z";
	String link9 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MzA3MTU=": "https://brand.eduwill.net/sugang/view.will?progress=Z&mSeq=30715";
}

<div class="promotion">
	<div data-eduwill-eco-content="2684"></div>
	@if("W".Equals(ViewBag.PlatformCd)){
		<div class="right-banner">
			<a href="#targetEvent1" class="page-move btn1">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/wing_right_1.png" alt="얼리버드 신청하고 미친 혜택 받기" />
			</a>
			<a href="#targetEvent2" class="page-move btn2">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/wing_right_2.png" alt="빡공 인증하고 추가 혜택 받기" />
			</a>
			<a href="#targetCoupon" class="page-move btn3">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/wing_right_3.png" alt="합격자 추천 공기업 합격 강의" />
			</a>
			<a href="#wrap" class="page-move btn-top">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/wing_top.png" alt="맨위로" />
			</a>
		</div>

		<div class="left-banner">
			<a href="#targetEvent2" class="page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/wing_left.png" alt="" />
			</a>
		</div>
	} else {
		<div class="floating-fixed floating-banner active flag">
			<a href="#targetEvent2" class="page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/wing_mobile.png" alt="" />
			</a>
			<button type="button" class="btn-close"><span class="sr-only">닫기</span></button>
		</div>
	}
	<div class="bottom-banner">
		<div class="wrap">
			<a href="#targetEvent1" class="page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/fix_bottom.png" alt="" />
			</a>
		</div>
	</div>
	
	<div class="sector-title">
		<div class="bg-wrap">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/title.png" alt="작심삼일 극복하고 100% 선물 받자" />
				<a href="#targetEvent1" class="btn page-move icon-pointer">
					<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/btn_apply.png" alt="이벤트 참여하고 100% 혜택 받기" />
				</a>
				<div class="title-flag">
					<strong>1/31(월)<br>까지만!</strong>
					<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/title_flag.png" alt="" />
				</div>
			</div>
		</div>
	</div>

	<div class="sector-info">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/info.jpg" alt="2022년 새해 다짐, 작심삼일로 끝나지 않게 도와드릴게요" />
		</div>
	</div>

	<div class="sector-bar">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/bar_1.png" alt="2022년의 첫 시작, 에듀윌 취업과 함께하세요" />
		</div>
	</div>

	<div class="sector-video">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/video_title.jpg" alt="합격자가 증명하는 에듀윌 취업에서는 취린이도 한 번에 합격 가능합니다">
			
			@if ("W".Equals(ViewBag.PlatformCd)){
			
				<div class="thumb-list">
					<div class="videoslider" id="">
						<div class="thumb">
							<button type="button" class="btn-play active" data-url="https://www.youtube.com/embed/Ke0cjFcgNhg">
								<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/thumb1.jpg" alt="#비전공자 합격" />
							</button>
						</div>
						<div class="thumb">
							<button type="button" class="btn-play" data-url="https://www.youtube.com/embed/Ix3i5G3s_uk">
								<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/thumb2.jpg" alt="#38살 신입 합격" />
							</button>
						</div>
						<div class="thumb">
							<button type="button" class="btn-play" data-url="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20210129/HGS_Interview.mp4">
								<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/thumb3.jpg" alt="#첫 도전에 합격" />
							</button>
						</div>
					</div>
				</div>

				<div class="view-wrap"></div>

			}else{
				<div class="video-content">
					<div class="thumb-list">
						<div class="videoslider" id="">
							<div class="thumb">
								<div class="view-wrap"></div>
								<button type="button" class="btn-play active" data-url="https://www.youtube.com/embed/Ke0cjFcgNhg">
									<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/thumb1.jpg" alt="" />
								</button>
							</div>
							<div class="thumb">
								<div class="view-wrap"></div>
								<button type="button" class="btn-play" data-url="https://www.youtube.com/embed/Ix3i5G3s_uk">
									<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/thumb2.jpg" alt="" />
								</button>
							</div>
							<div class="thumb">
								<div class="view-wrap"></div>
								<button type="button" class="btn-play" data-url="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20210129/HGS_Interview.mp4">
									<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/thumb3.jpg" alt="" />
								</button>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	<div class="sector-review">
		<div class="wrap">
			<div class="slider" data-slide="review">
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/1.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/2.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/3.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/4.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/5.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/6.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/7.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/8.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/9.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/10.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/11.png" alt="" /></div>
			</div>
		</div>
	</div>

	<div class="sector-winner">
		<div class="wrap">
			<div class="winner-contents">
				<div class="winner-list"></div>
			</div>
		</div>
	</div>

	<div class="sector-video-one">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/video_one_title.jpg" alt="에듀윌 취업과 함께면 2022년 합격의 주인공은 여러분입니다">
			@* data-layer : 0 사용안함 / 1 사용함 *@
			<div class="eduf-video-wrap" data-layer="0" data-video="https://www.youtube.com/embed/rYsYRMYzG_4" data-poster="//img.eduwill.net/eduwill/img/2022/Z/event/220103/pc/video_thumb.jpg"></div>
			<p class='notice'>
				<span>[합격자 100% 추천]</span> 
				에듀윌 2021 합격생(유,무료강의 포함) 온라인 설문 결과(2021.04~2021.07)<br>
				<span>[합격자 수 증가]</span> 
				에듀윌 취업 서류, 필기, 면접 전형 합격자 인증 건 수 비교(2015~19년vs2020년, 중복포함)
			</p>
		</div>
	</div>


	<div id="targetEvent1" class="sector-event">
		<div class="wrap">
			<div class="item">
				<div class="radio-box">
					<div class="radio">
						<input type="radio" id="ck1" name="radios" checked="checked"> 
						<label for="ck1">에듀윌 취업과<br>공기업 합격</label>
					</div>
					<div class="radio">
						<input type="radio" id="ck2" name="radios"> 
						<label for="ck2">에듀윌 취업과<br>대기업 합격</label>
					</div>
					<div class="radio">
						<input type="radio" id="ck3" name="radios"> 
						<label for="ck3">
							<input type="text" name="" id="" placeholder="직접 입력:)">
						</label>
					</div>
				</div>
				<div class="button-wrap">
					<button class="btn icon-pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/btn_coupon.png" alt="새해 다짐 작성하고 최대 10만원 쿠폰 받기">
					</button>
					<a href="#targetCoupon" class="btn icon-pointer page-move">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/btn_lecture.png" alt="쿠폰 사용 가능한 합격 강의 확인하기">
					</a>
				</div>
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/event_1.jpg" alt="event1 새해 다짐 이벤트">
			</div>

			<div id="targetEvent2" class="item event-2">
				<div class="attend-board">
					<div class="col on">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
					<div class="col">
						@* 출석완료 *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/stamp_on.png" alt="출석완료">
					</div>
				</div>
				<button class="btn icon-pointer">
					<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/btn_stamp.png" alt="오늘의 출석 도장 찍고 100% 혜택 받기">
				</button>
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/event_2.jpg" alt="event1 새해 다짐 이벤트">
			</div>
		</div>
	</div>

	<div class="sector-product" id="targetCoupon">
		<div class="wrap">
			<img alt="" src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/consulting_title.jpg" />
			<div class="tab-box">
				<ul class="tab-list">
					<li class="on"><span class="flag"><i>BEST</i></span>10만원 할인</li>
					<li>5만원 할인</li>
					<li>3만원 할인</li>
				</ul>
				@* 10만원 할인 *@
				<div class="tab-view" style="display: block;">
					<a href="@link1" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_10_1.jpg" alt=""></a>
					<a href="@link2" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_10_2.jpg" alt=""></a>
					<a href="@link3" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_10_3.jpg" alt=""></a>
				</div>

				@* 5만원 할인 *@
				<div class="tab-view">
					<a href="@link4" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_5_1.jpg" alt=""></a>
					<a href="@link5" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_5_2.jpg" alt=""></a>
					<a href="@link6" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_5_3.jpg" alt=""></a>
				</div>

				@* 3만원 할인 *@
				<div class="tab-view">
					<a href="@link7" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_3_1.jpg" alt=""></a>
					<a href="@link8" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_3_2.jpg" alt=""></a>
					<a href="@link9" target="_blank"><img src="https://img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/product_3_3.jpg" alt=""></a>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-graph">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/graph.jpg" alt="" />
		</div>
	</div>

	<div class="sector-prize">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220103/@platform/prize.png" alt="" />

			<a href="#popupBase" data-popup-open="popupBase" class="btn-base"><img src="//img.eduwill.net/eduwill//img/2022/Z/event/220103/@platform/btn_base.png" alt="근거보기" /></a>

		</div>
	</div>

	<div class="sector-notice">
		<div class="wrap">
			<dl>
				<dt>새해 다짐 이벤트 안내</dt>
				<dd>
					<ul class="type1">
						<li>※ 새해 다짐 이벤트 신청 기간: ~22.01.31(월)</li>
						<li>※ 새해 다짐을 작성하면 취업인강 10만원, 5만원, 3만원 할인쿠폰이 마이페이지에 제공됩니다.</li>
						<li>※ 쿠폰 3종은 모두 쿠폰 지급 후 3일간 사용 가능합니다.</li>
						<li>※ 각 쿠폰은 적용 가능 강의가 상이하며, 쿠폰 적용 가능 강의는 페이지 하단을 참고해주세요.</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>출석체크 이벤트 안내</dt>
				<dd>
					<ul class="type1">
						<li>※ 출석체크 이벤트 참여 기간 ~22.01.31(월)</li>
						<li>※ 출석체크 이벤트 참여 횟수에 따라 상품이 차등 지급됩니다.</li>
						<li>※ 5일 누적 출석 시 공기업 · 대기업 전강좌 0원 환급반 50% 할인 쿠폰이 제공됩니다.</li>
						<li>※ 10일 누적 출석시 바나나맛 우유, 20일 연속 출석 시 스타벅스 아메리카노가 제공됩니다.</li>
						<li>※ 바나나맛 우유 및 스타벅스 아메리카노는 2월 둘째주 중 회원가입 시 기재한 핸드폰 번호로 발송됩니다.</li>
						<li>※ 이벤트 부정 참여 시 혜택이 회수될 수 있습니다.</li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>

</div>

<div class="dimmed"></div>
<div id="popupBase" class="popup popup-base">
	<button type="button" class="popup-close" data-popup-close="popupBase">팝업 닫기</button>
	<div class="popup-body">
		<div data-eduwill-eco-content="3652"></div>
	</div>
</div>

<script src="https://img.eduwill.net/eduwill/live/libs/jquery/jquery-ui.js"></script>
<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	$(function () {
		addEvent();
		motionEvent();
		addSlider();
		videoSlider();
		videoViewer();
		_f_initVideoPlay();
		winnerList();
		tabControl(".sector-product");
	});

	function addEvent(){
		// scroll 이동
		if(isMobile){
			pageMove('.page-move', -39);
		}else{
			pageMove('.page-move');
		}
		
		// popup
		$('[data-popup-open]').on('click', function(e){
			e.preventDefault();
			var _data = $(this).data('popupOpen');
			popupOpen('.dimmed', _data);
		});

		$('[data-popup-close]').on('click', function(){
			var _data = $(this).data('popupClose');
			popupClose('.dimmed', _data);
		});

		//floating banner
		if($('.floating-fixed').length > 0){
			var floatingBanner = $('.floating-fixed');
			floatingBanner.find('.btn-close').on('click', function(){
				$(this).parents('.floating-fixed').removeClass('active');
			});
			
			var _wTop = $(window).scrollTop();
			var _topFloating = floatingBanner.offset().top - 100;
			$(window).on('scroll', function () {
				_wTop = $(window).scrollTop();
				if(_wTop > _topFloating){
					floatingBanner.addClass('fixed');
				}else{
					floatingBanner.removeClass('fixed');
				}
			});
		}

	}

	function motionEvent() {
		$(window).on('scroll', function () {
			var wt = $(window).scrollTop();
			if (wt >= $('.sector-title').offset().top + 500) {
				$('.left-banner, .right-banner').addClass('active');
			} else {
				$('.left-banner, .right-banner').removeClass('active');
			}
		});
	}

	function addSlider(){
		$('.slider').each(function() {
			var _data = $(this).data('slide');
			var _arrows = false;
			var _slidesToShow = 1;
			var _dots = true;
			var _centerMode = false;

			if( _data == 'review' ){
				_dots = false;
				if(isMobile){
				_slidesToShow = 1;
				}else{
				_slidesToShow = 3;
				}
			} else if ( _data == 'system' ){
				if(isMobile){
				_slidesToShow = 1;
				_centerMode = true;
				}else{
				_slidesToShow = 2;
				}
			}
			$(this).slick({
				autoplay: true,
				autoplaySpeed: 3000,
				infinite: true,
				arrows: _arrows,
				slidesToShow: _slidesToShow,
				dots: _dots,
				centerMode: _centerMode,
			});
		});
	}

	function videoSlider(){
		if(isMobile){
			$('.videoslider').slick({
				autoplay: false,
				autoplaySpeed: 4000,
				infinite: true,
				arrows: true,
				dots: false
			});
		}
		else{
			$('.videoslider').slick({
				autoplay: false,
				autoplaySpeed: 4000,
				infinite: true,
				arrows: true,
				dots: false,
				slidesToScroll: 1,
				slidesToShow: 3
			});
		}
	}
	function videoViewer(){
		var view, path, youtube, mp4;

		if(isMobile){
			//mobile
			viewer = $('.video-content .view-wrap');
			path = $('.video-content .thumb-list .btn-play.active').data('url');
			initViewer(path);
			$(document).on('click', '.btn-play', function(){
				path = $(this).data('url');
				initViewer(path);
				$('.view-wrap').show();
				$('.video-content .thumb-list .active').removeClass('active');
				$(this).addClass('active');
				$('.slick-arrow').click(function(){
					$('.view-wrap').hide();
				});
			});
		}
		else{
			//pc
			viewer = $('.sector-video .view-wrap');
			path = $('.sector-video .thumb-list .btn-play.active').data('url');
			initViewer(path);
			$(document).on('click', '.btn-play', function(){
				path = $(this).data('url');
				initViewer(path);
				$('.sector-video .thumb-list .active').removeClass('active');
				$(this).addClass('active');
			});
		}

		function initViewer(path){
			youtube = path.indexOf('youtube');
			mp4 = path.indexOf('mp4');
			viewer.html('');
			if(youtube > 0){
				viewer.html('<iframe src="' + path + '?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>'); 

			}else if(mp4 > 0){
				viewer.html('<video autoplay loop muted controls poster class="video"><source src="' + path + '" type="video/mp4"></video>');
			}else{
				viewer.html('<img src="' + path + '" alt="" />');
			}
		}
	}

	// VIDEO PLAY //sector-video-one
	function _f_initVideoPlay() {
		var _videoHTML = ''
		var _youtubeHTML = ''
		var _videoData = $('.eduf-video-wrap')


		$.each(_videoData, function(){
			
			var _this = $(this)
			var _videoDataIndex = _this.data('video')
			var _videoDataLayer = _this.data('layer')
			var _youtube = 'youtube'
			
			if( _videoDataIndex.indexOf(_youtube) != -1 ){
				_youtubeHTML += '<div class="video-content" data-value="0">';
				_youtubeHTML += '<img src="'+_this.data('poster')+'" >';
				_youtubeHTML += '<iframe src="'+_this.data('video')+'" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" allow="autoplay; encrypted-media" allowfullscreen></iframe>';
				_youtubeHTML += '</div">';
				
				_this.append(_youtubeHTML);

			}else{
				_videoHTML += '<div class="video-content" data-value="1">';
				_videoHTML += '<video oncontextmenu="return false;" data-video="stop" onerror="failed(event)" poster="'+_this.data('poster')+'">';
				_videoHTML += '<source src="'+_this.data('video')+'" type="video/mp4">';
				_videoHTML += '</video>';
				_videoHTML += '</div">';

				_this.append(_videoHTML);
			}
			
			_this.off('click').on('click', function(){
			
				var _serveMovie = _this.find('video')
				var _youtubeMovie = _this.find('img')
				var _videoCode = _this.find('.video-content').data('value')
				
				// YouTube영상일때 클릭 이벤트
				if( _videoCode === 0 ){
					_youtubeMovie.fadeOut()
					_this.find('iframe').attr('src', ''+_this.data('video')+'?autoplay=1')
					
				}
				// Server 영상일때 클릭 이벤트
				else if( _videoCode === 1 && _serveMovie.attr('data-video') == 'stop' ){

					_serveMovie.attr('controls', '').attr('data-video', 'play').play
				}

			})
		})
	}
	// VIDEO ERROR FUNCTION
	function failed(e) {
		if( e.target.error ){	
			alert('네트워크 에러')

		}
	}

	function winnerList() {
		var options = {
			jsonFileNm: 'Z202108_WINNER.min',
		};

		var _row;
		var _show;

		if ("@(ViewBag.platformCd)" == "M") {
			_row = 3;
			_show = 6;
		} else {
			_row = 4;
			_show = 7;
		}
		var slickOptions = {
			speed: 1000,
			slidesPerRow: _row,
			slidesToShow: _show,
		};

		eduf.UI.Winner('.winner-list', options, slickOptions);
	}

	 function tabControl($seletor){
		$($seletor).find(".tab-list").children("li").on("click", function(){
			var idx = $(this).index();
			var tabList = $($seletor).find(".tab-list").children("li");
					
			tabList.removeClass("on");
			tabList.eq(idx).addClass("on");
			
			$($seletor).find(".tab-view").hide();
			$($seletor).find(".tab-view").eq(idx).show();
				
		});
	}
</script>
