@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
}

<div class="promotion">

	<div class="container promotion-timer">
		<div class="wrap">
			<div class="desc">이벤트 종료까지</div>
			<div class="pass-timer">
				<div><span class="day">00</span><em>일</em></div>
				<div><span class="hour">00</span><em>:</em></div>
				<div><span class="min">00</span><em>:</em></div>
				<div><span class="sec">00</span><em>:</em></div>
				<div><span class="msec">00</span></div>
			</div>
		</div>
	</div>

	<div class="container promotion-title">
		<div class="wrap">
			@if("W".Equals(ViewBag.PlatformCd)){
				@* <div class="motion-date">@(ViewBag.EventStartDay)~<br>@(ViewBag.EventEndDay)</div> *@
				<div class="motion-date">3/1(월) ~<br /> 3/31(월)</div> @* 퍼블 ui 확인용 *@
				<div class="motion-title1"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/title1.png" alt="지금 독한 에듀윌에서 재도전하면 최대 61만원 파격 혜택!"></div>
				<div class="motion-title2"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/title5.png" alt=""></div>
				<div class="motion-title3"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/title6.png" alt=""></div>
				<div class="motion-title4"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/title2.png" alt="재도전"></div>
				<div class="motion-title5"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/title3.png" alt="환승 이벤트"></div>
				<div class="motion-title6"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/title4.png" alt="더 이상의 방황은 그만! 에듀윌로 환승하고, 22년 경찰 합격으로 직행하세요"></div>
				<div class="motion-title7"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/title7.png" alt=""></div>
				<div class="motion-btn">
					<a href="#targetInfo3" class="btn-hlink page-move">
						<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/btn_title.png" alt="재도전 & 환승하고 혜택 받기 GO">
					</a>
				</div>
			}else{
		@* <div class="date">@(ViewBag.EventStartDay)~<br>@(ViewBag.EventEndDay)</div> *@
		<div class="date">3/1(월) ~<br /> 3/31(월)</div>@* 퍼블 ui 확인용 *@
				<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/title.png" alt="지금 독한 에듀윌에서 재도전하면 최대 61만원 파격 혜택! 재도전 환승 이벤트">
				<a href="#targetInfo3" class="btn-hlink page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/btn_title.png" alt="재도전 & 환승하고 혜택 받기 GO">
				</a>
			}
		</div>
	</div>

	<div class="container promotion-info1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/info1.jpg" alt="시험 응시 또는 타사 수강 경험이 있다면 최대 61만원 혜택 제공!">
		</div>
	</div>

	<div class="container promotion-info2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/info2.jpg" alt="독한 에듀윌 경찰 노량진학원이 오직 지금만 제공하는 특급 혜택">
		</div>
	</div>

	<div class="container promotion-info3" id="targetInfo3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/info3.jpg" alt="재도전 & 환승 이벤트 혜택 받는 법">
			<div class="step-list">
				<div class="step step-1 active"><span class="sr-only">step1 간단하게 전화로 상담예약하기</span></div>
				<div class="step step-2"><span class="sr-only">step2 수강 내역, 수험표 등 간단하게 별도 인증하기</span></div>
				<div class="step step-3"><span class="sr-only">step3 할인 혜택 받고 합격에 재도전하기</span></div>
			</div>
		</div>
	</div>

	<div class="container promotion-cscenter type2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118_2/@platform/cscenter.jpg" alt="지금 바로 문의하세요!">
			@if("W".Equals(ViewBag.PlatformCd)){
				<p class="title">독한 에듀윌 경찰 <br>노량진학원 수강상담</p>
			}
			<div class="tel">
				<a href="tel:02-6332-0600">02-6332-0600</a>
			</div>
			<a href="https://nrc.eduwill.net/Promotion/Consult" target="_blank" class="btn-qna"><span class="sr-only">1:1 프리미엄 상담</span></a>
			<a href="https://pf.kakao.com/_sMIaxb/chat" target="_blank" class="btn-kakao"><span class="sr-only">카카오톡 상담</span></a>
		</div>
	</div>

	<div class="container promotion-guide">
		<div class="wrap">
			<div class="title">! 꼭 읽어주세요</div>
			<ul class="list">
				<li>
					<strong>혜택 대상</strong>
					<ul>
						<li>21년 경찰 응시표 소지자</li>
						<li>자,타사 학원 수강이력이 있는 사람</li>
					</ul>
				</li>
				<li>
					<strong>혜택 상품</strong>
					<ul>
						<li>독한평생패스, 독한단기패스</li>
					</ul>
				</li>
				<li>
					<strong>유의사항</strong>
					<ul class="bullet">
						<li>타 이벤트 혜택과 적용 불가합니다.</li>
						<li>증빙서류에 기재된 개인정보는 수강 할인 이외의 용도로 사용되지 않습니다.</li>
						<li>타 이벤트 혜택과 중복 적용 불가합니다.</li>
						<li>해당 이벤트는 학원 상품에 한해 적용되며, 온라인 상품에는 적용되지 않습니다.</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</div>

<script src="~/js/common/extension.js"></script>
<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function(){
		addEvent();
	});

	function addEvent(){
		pageMove('.page-move');
		getTimer('.pass-timer' , 'Mar 31, 2022,23:59:59'); @* 퍼블 ui 확인용 *@
		//getTimer('.pass-timer', '@ViewBag.EventEndDt'.stringToDate("yyyy-MM-dd HH:mm:ss"));
		stepChange();
		if(!isMobile && checkUrl){
			onMotion();
		}
	}

	function stepChange(){
		var _listIdx = 1;
		var _listLength = $('.step-list > div').length;
		setInterval(function(){
			if(_listIdx > _listLength) { _listIdx = 1; }
			$('.step-list > div').removeClass('active');
			$('.step-list > div').eq(_listIdx - 1).addClass('active');
			_listIdx++;
		}, 1500);
	}

	function onMotion(){
		var $title = $('.promotion-title');
		TweenMax.fromTo($title.find('.motion-date'), .5, { opacity: 0, y: -10, scaleY: 0 }, { opacity: 1, y: 0, scaleY: 1, transformOrigin: 'center top', delay: .9, ease: Power4.easeOut });
		TweenMax.fromTo($title.find('.motion-title1'), .5, { opacity: 0, scaleY: 0 }, { opacity: 1, scaleY: 1, delay: .2, ease: Power4.easeOut });
		TweenMax.fromTo($title.find('.motion-title2'), .5, { opacity: 0, }, { opacity: 1, transformOrigin: 'center center', delay: 1.0, ease: Back.easeOut });
		TweenMax.fromTo($title.find('.motion-title3'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, transformOrigin: 'left bottom', delay: .9, ease: Back.easeOut });
		TweenMax.fromTo($title.find('.motion-title4'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, transformOrigin: 'center bottom', delay: .3, ease: Back.easeInOut.config(1) });
		TweenMax.fromTo($title.find('.motion-title5'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .5, ease: Back.easeInOut.config(1) });
		TweenMax.fromTo($title.find('.motion-title6'), .5, { opacity: 0, scaleY: 0 }, { opacity: 1, scaleY: 1, delay: .7, ease: Power4.easeOut });
		TweenMax.fromTo($title.find('.motion-title7'), .7, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .9, ease: Back.easeInOut.config(1) });
		TweenMax.fromTo($title.find('.motion-btn'), .5, { opacity: 0, y: 100 }, { opacity: 1, y: 0, delay: .9, ease: Power4.easeOut });
	}
</script>