@{
    string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
}

<script type="text/template" id="discPrd-tmpl">
    <div class="contents {{= TITLE_CSS}} full">
        <button type="button" class="block-anchor" data-prd-code="{{= PRODUCT_CODE}}">
            <div class="lecture-title">{{= TEXT_OFF1}} {{= TEXT_OFF2}}</div>
            <div class="con">
                <div class="lecture-info">
                    {{if CLS == 'J'}}
                    @if ("W".Equals(ViewBag.PlatformCd))
                    {
                        <div class="flag">
                            <img src="//img.eduwill.net/eduwill/img/2021/Z/event/211007/@platform/flag2.png" alt="" />
                            <p>얼리버드<br>선착순<br>한정혜택</p>
                            <p>역대급<br>혜택제공</p>
                        </div>
                    }
                    {{/if}}
                    {{each(subIdx, item) subList}}
                    <div class="list">
                        <div class="subject">{{= item.CODE_TITLE}}</div>
                        <div class="desc">
                            {{html item.SUB_CONTENT}}
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="price-box">
                    <div class="price-info">
                        {{if GOODS_SALE_PER > 0}}
                        <div class="item item_1">
                            <p class="disc">{{= GOODS_SALE_PER}}% 할인</p>
                        </div>
                        {{/if}}
                        <div class="item item_2">
                            {{if GOODS_SALE_PER > 0}}
                            <p class="cost">{{= parseInt(GOODS_PRICE).toLocaleString("en")}}원</p>
                            {{/if}}
                            <p class="sale">{{= parseInt(GOODS_SALE).toLocaleString("en")}}<span>원</span></p>
                        </div>
                    </div>
                    <div class="signup">
                        @if ("M".Equals(ViewBag.PlatformCd))
                        {
                            <div class="flag">
                                <p>얼리버드 선착순 한정혜택</p>
                                <p>역대급 혜택제공</p>
                            </div>
                        }
                        <div class="btn-signup">
                            할인받고<br />수강신청하기
                        </div>
                    </div>
                </div>
            </div>
        </button>
    </div>
</script>

<script src="~/js/Lecture/commLct.js"></script>
<script src="~/js/common/extension.js"></script>
<script type="text/javascript">

    $(function () {
        setInit();

        $(".block-anchor").click(function () {
            var prdCode = $(this).data("prd-code");
            commLct.basketSubmit("", prdCode, "@(UserSession.UserID)");
        });

    });

    function setInit() {

        SetTmp('@Html.Raw(ViewBag.spcDisc33194)', '33194', 'bg1', 'J');
        SetTmp('@Html.Raw(ViewBag.spcDisc33203)', '33203', 'bg1', 'J');
        SetTmp('@Html.Raw(ViewBag.spcDisc33204)', '33204', 'bg1', 'J');
        SetTmp('@Html.Raw(ViewBag.spcDisc33205)', '33205', 'bg1', 'J');
        SetTmp('@Html.Raw(ViewBag.spcDisc33206)', '33206', 'bg1', 'J');
        SetTmp('@Html.Raw(ViewBag.spcDisc33207)', '33207', 'bg1', 'J');
        SetTmp('@Html.Raw(ViewBag.spcDisc33208)', '33208', 'bg1', 'J');
        SetTmp('@Html.Raw(ViewBag.spcDisc33209)', '33209', 'bg1', 'J');

        SetTmp('@Html.Raw(ViewBag.spcDisc33246)', '33246', 'bg1', 'D');
        SetTmp('@Html.Raw(ViewBag.spcDisc33247)', '33247', 'bg1', 'D');
        SetTmp('@Html.Raw(ViewBag.spcDisc33248)', '33248', 'bg1', 'D');
        SetTmp('@Html.Raw(ViewBag.spcDisc33249)', '33249', 'bg1', 'D');

    }

    function SetTmp(param, masterSeq, strBg, cls) {
        var prdList = JSON.parse(param);
        var discPrdList = prdList.discPrdList;
        var title_css = strBg;
        var notice = "";
        var prdData = discPrdList.map(function (obj) {

            var arrText_Title = obj.TEXT_OFF.split("$");
            var subList = prdList.discPrdSubList.filter(function (e) { return e.PRODUCT_CODE == obj.PRODUCT_CODE });
            return {

                TEXT_OFF1: arrText_Title[0],
                TEXT_OFF2: arrText_Title[1],
                GOODS_SALE_PER: obj.GOODS_SALE_PER,
                GOODS_PRICE: obj.GOODS_PRICE,
                GOODS_SALE: obj.GOODS_SALE,
                DOUBLE_FLAG: obj.DOUBLE_FLAG,
                PRODUCT_CODE: obj.PRODUCT_CODE,
                subList: subList,
                TITLE_CSS: title_css,
                NOTICE: notice,
                CLS : cls

            };
        });
        var tmpl = $("#discPrd-tmpl").tmpl(prdData);
        $("#tmp_" + masterSeq).html(tmpl);
    }

    function eventBind() {

    }

</script>