@{
	string viewPath = ((RazorView)ViewContext.View).ViewPath;
	viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
	string cssUrl = ViewBag.IsLocal
		? "/Content/2022/J/event/220302/css/web.css"    // local 경로
		: "//img.eduwill.net/eduwill/css/2022/J/event/220302/web.css";   // ftp 경로
}
<link rel="stylesheet" type="text/css" href="@cssUrl" />
<link rel="stylesheet" href="//img.eduwill.net/eduwill/live/css/common/product.css" />

<div class="promotion">

	<div class="right-wing">
		<a href="#sectorApplyBar" class="page-move">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/right_wing.png" alt="패키지 할인 중! 수강신청" />
		</a>
	</div>
	
	<div class="sector-title">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/title.png" alt="핵심기출분석특강" />
        </div>
    </div>

	<div class="sector-recipe">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_recipe.jpg" alt="합격의 레시피, 재료는 기출이고 방법은 반복입니다." />
		</div>
	</div>

	<div class="sector-about">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_about.jpg" alt="이맘때 쯤, 수험생들의 흔한 고민입니다." />
		</div>
	</div>

	<div class="sector-reason">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_reason_title.png" alt=""/>
			<div class="link-box">
                <a href="javascipt:;" onclick="popupOpen('.dimmed','layer1');"><img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_reason1.png" alt="최근 5개년 기출문제 분석" /></a>
                <a href="javascipt:;" onclick="popupOpen('.dimmed','layer2');"><img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_reason2.png" alt="2022시험 출제예상문제 점검" /></a>
                <a href="javascipt:;" onclick="popupOpen('.dimmed','layer3');"><img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_reason3.png" alt="빈출이론 취약부분 집중체크" /></a>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_reason.png" alt=""/>
		</div>
	</div>

	<div class="sector-review">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_review.jpg" alt="이미 수많은 합격생들이 기출 분석의 효과를 경험했습니다." />
			<div class="action">
				<a href="https://event.eduwill.net/VictoryStory/J/Housing_Manager" class="review-btn">
					<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/review_btn.png" alt="더 많은 합격수기 보러가기" />
				</a>
			</div>
		</div>
	</div>

	<div class="sector-tab">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_tab_title.png" alt="반드시 합격하는 전략으로, 교수님들은 기출 분석을 강조합니다." />
			<div class="tab-box">
				<ul class="tab-list">
					<li class="on">민법</li>
					<li>회계원리</li>
					<li>시설개론</li>
				</ul>
				<div class="tab-view">
					<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_tabview1.jpg" alt="" />
				</div>
				<div class="tab-view">
					<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_tabview2.jpg" alt="" />
				</div>
				<div class="tab-view">
					<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_tabview3.jpg" alt="" />
				</div>
			</div>
			<div class="notice">
				※ 각 과목의 탭을 클릭하여 내용을 확인하세요.
			</div>
		</div>
	</div>

    @Html.Partial(viewPath + "_Teacher_DDB.cshtml")
    @* @Html.Partial(viewPath + "_Teacher_BPJ.cshtml")
    @Html.Partial(viewPath + "_Teacher_NWJ.cshtml")
    @Html.Partial(viewPath + "_Teacher_DJJ.cshtml")
    @Html.Partial(viewPath + "_Teacher_SMJ.cshtml") *@

	@* 수강신청 *@
	<div class="product-apply" id="productApply">
		<div class="wrap">

			<div class="price-top">
				<div class="grid">
					<div class="col col1">패키지<br>할인</div>
					<div class="col col2">
						<span class="highlight">핵심기출 분석특강 전 과목</span> 함께 구매 시<br>
						<span class="num"><b>총 3개 특강</b></span>
					</div>
					<div class="col col3">
						<div class="before-price">
							<div class="disc-price"><span>210,000원</span></div>
						</div>
						<div class="last-price">
							<span>150,000원</span>
						</div>
					</div>
				</div>
			</div>

			<form name="frmAddBasket1" id = "frmAddBasket1" method="post">
				<div class="product-table">
					<table cellpadding="0" cellspacing="0" class="table-check">
						<colgroup>
							<col style="width: 10%;" />
							<col style="width: 30%;" />
							<col style="width: 25%;" />
							<col style="width: 25%;" />
							<col style="width: 10%;" />
						</colgroup>
						<thead>
							<tr>
								<th class="blnone" scope="col" colspan="2">과목</th>
								<th scope="col">교수진</th>
								<th scope="col">수강료</th>
								<th scope="col">신청</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="blnone" rowspan="1">
									<strong>패키지<br />할인</strong>
								</th>
								<td>전과목(민법+회계원리+시설개론)</td>
								<td><strong>신의영,윤재옥,이강일</strong></td>
								<td><s>240,000원</s><strong> → </strong><strong class="highlight">210,000원</strong></td>
								<td><input type="checkbox" custid="1" name="Product" value="21J0Y0006A" onclick="calcu1();"><input type="hidden" name="PPrice" value="120000" /></td>
							</tr>
							@* <tr>
								<td>민법+회계원리</td>
								<td><strong>신의영,윤재옥</strong></td>
								<td><s>140,000원</s><strong> → </strong><strong class="highlight">120,000원</strong></td>
								<td><input type="checkbox" custid="1" name="Product" value="21J0Y0106A" onclick="calcu1();"><input type="hidden" name="PPrice" value="120000" /></td>
							</tr>
							<tr>
								<td>민법+시설개론</td>
								<td><strong>신의영,이강일</strong></td>
								<td><s>140,000원</s><strong> → </strong><strong class="highlight">120,000원</strong></td>
								<td><input type="checkbox" custid="1" name="Product" value="21J0Y0206A" onclick="calcu1();"><input type="hidden" name="PPrice" value="120000" /></td>
							</tr>
							<tr>
								<td>회계원리+시설개론</td>
								<td><strong>윤재옥,이강일</strong></td>
								<td><s>140,000원</s><strong> → </strong><strong class="highlight">120,000원</strong></td>
								<td><input type="checkbox" custid="1" name="Product" value="21J0Y0306A" onclick="calcu1();"><input type="hidden" name="PPrice" value="120000" /></td>
							</tr> *@
				
							<tr>
								<th class="blnone" rowspan="3"><strong>단과</strong></th>
								<td>민법</td>
								<td><strong>신의영</strong></td>
								<td><!-- <s>60,000원</s><strong> → </strong> --><strong class="highlight">70,000원</strong></td>
								<td><input type="checkbox" custid="1" name="Product" value="21J0SP046A" onclick="calcu1();"><input type="hidden" name="PPrice" value="70000" /></td>
							</tr>
							<tr>
								<td>회계원리</td>
								<td><strong>윤재옥</strong></td>
								<td><!-- <s>60,000원</s><strong> → </strong> --><strong class="highlight">70,000원</strong></td>
								<td><input type="checkbox" custid="1" name="Product" value="21J0SP056A" onclick="calcu1();"><input type="hidden" name="PPrice" value="70000" /></td>
							</tr>
							<tr>
								<td>시설개론</td>
								<td><strong>이강일</strong></td>
								<td><!-- <s>60,000원</s><strong> → </strong> --><strong class="highlight">70,000원</strong></td>
								<td><input type="checkbox" custid="1" name="Product" value="21J0SP056A" onclick="calcu1();"><input type="hidden" name="PPrice" value="70000" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>

			<div class="price-type price01">
				<div class="last-price">
					<span class="total-text">합계: </span>
					<span class="total-price" id="Won_101">0</span>
					<span class="total-text">원</span>
				</div>
				<div class="btn-apply">
					<a href="javascript:setBasketProcess2('1', 2);"><span>수강신청</span></a>
				</div>
			</div>

			<div class="product-table">
				<div class="wrap">
				<table cellpadding="0" cellspacing="0">
					<colgroup>
						<col width="180">
						<col width="*">
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">학원 수업일</th>
							<td>회계원리 3/13(일) / 민법 3/20(일) / 시설개론 4/10(일)</td>
						</tr>
						<tr>
							<th scope="row">특별 제공</th>
							<td>
								온라인 녹화 강의 제공 (수강기간 : 2022년 1차 시험일까지)
							</td>
						</tr>
						<tr>
							<th scope="row">
								무이자 혜택
								<a href="#" onclick="window.open('http://www.eduwill.net/common/popup/pop_150529.asp','CPoint','width=517,height=800,top=0,left=0,scrollbars=yes,status=no');return false;" class="btn_style01"><span>자세히보기</span></a>
							</th>
							<td>
								신용카드 부분 무이자할부 안내
								(5만원 이상 결제 고객 대상)
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>	

	@* 지도영역 *@
	<div class="product-map">
		<div class="wrap">
			<div class="map-title">학원 오시는 길</div>
			<div class="map-img">
				<a href="http://naver.me/FctLxRhX" target="_blank">
					<img src="//img.eduwill.net/resources/academy/live/images/dbj/map_884.jpg" alt="">
				</a>
			</div>
			<div class="map-link">
				<a href="http://naver.me/FctLxRhX" target="_blank">
					<img src="//img.eduwill.net/Img2/Won2/promotion/151001/quark/btn_map.gif" alt="크게보기">
				</a>
			</div>
			<div class="map-text">
				<dl>
					<dt>에듀윌 주택관리사 노량진학원 위치</dt>
					<dd>
						주<span>소</span> : 서울 동작구 노량진로 26 (대방동, 솔표빌딩) 5층
					</dd>
				</dl>
				<dl>
					<dt>대중교통 이용안내</dt>
					<dd>지하철 : 1호선 대방역 2번 출구 50m</dd>
					<dd>버<span>스</span> : 동작12, 150, 360, 462, 507, 605, 640, 5531</dd>
				</dl>
			</div>
		</div>
	</div>

	@* 모객용배너 *@
	<link href="https://img.eduwill.net/eduwill/live/css/common/product_banner.css?210114" rel="stylesheet">
	<style type="text/css">
		.product-banner{border-top:4px solid #f1f1f1; padding-bottom: 100px;}
		.product-banner .banner-title span{line-height:1.2;}
		.product-banner .banner-item:after {
			content:"GO";right:5%;font-size:2.7vw;color:#000;background-color:#fff;width:35px;height:35px;line-height:35px;text-align:center;font-weight:700;border-radius:50%; 
			-webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);
			width: 60px; height: 60px; line-height: 60px; 
		}
		.product-banner .banner-item .banner-flag{background-color:#fff;color:#14276e;line-height:1;}
		.product-banner .banner-item-best .banner-flag{background-color:#fb342e;color:#fff;}
	</style>
	<div class="product-banner">
		<div class="product-banner-wrap">
			<div class="banner-title"><span class="text-1">주택관리사 합격</span> <span class="text-2">에듀윌과 함께 하면 현실이 됩니다.</span></div>
			<div class="banner-list">
				<a class="banner-item banner-item-1 banner-item-best" href="https://dbj.eduwill.net/ProductAuto/Index?masterSeq=MzA3Njk=" target="_blank">
					<div class="banner-flag"><span>수강<br>1위</span></div>
					<div class="banner-desc">
						<p class="banner-info">두 번의 기회로 확실한 합격 보장!</p>
						<p class="banner-subject"><span class="text-2">1+1 평생회원반</span></p>
					</div>
					<div class="banner-apply"><span>수강신청하기</span></div>
				</a> 
				<a class="banner-item banner-item-2" href="https://dbj.eduwill.net/ProductAuto/Index?masterSeq=MzA3NzY=" target="_blank">
					<div class="banner-flag"><span>인기<br>강좌</span></div>
					<div class="banner-desc">
						<p class="banner-info">직장인을 위한 커리큘럼</p>
						<p class="banner-subject"><span class="text-2">1+1 직장인합격반</span></p>
					</div>
					<div class="banner-apply"><span>수강신청하기</span></div>
				</a> 
				<a class="banner-item banner-item-3" href="https://dbj.eduwill.net/ProductAuto/Index?masterSeq=MzA3ODI=" target="_blank">
					<div class="banner-flag"><span>NEW</span></div>
					<div class="banner-desc">
						<p class="banner-info">2022 시험일까지 무제한 수강!</p>
						<p class="banner-subject"><span class="text-2"><span class="text-2">2022 초단기합격반</span></span></p>
					</div>
					<div class="banner-apply"><span>수강신청하기</span></div>
				</a>
			</div>
		</div>
	</div>

</div>

<div class="dimmed"></div>
<div class="popup" id="layer1">
	<a href="javascript:;" class="popup-close" onclick="popupClose('.dimmed','layer1');">
		<span class="sr-only">닫기</span>
	</a>
	<div class="popup-content"><img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/layer1.jpg"/></div>
</div>
<div class="popup" id="layer2">
	<a href="javascript:;" class="popup-close" onclick="popupClose('.dimmed','layer2');">
		<span class="sr-only">닫기</span>
	</a>
	<div class="popup-content"><img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/layer2.jpg"/></div>
</div>
<div class="popup" id="layer3">
	<a href="javascript:;" class="popup-close" onclick="popupClose('.dimmed','layer3');">
		<span class="sr-only">닫기</span>
	</a>
	<div class="popup-content"><img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/layer3.jpg"/></div>
</div>

<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;

	$(function(){
		frontInit();
	});

	function frontInit(){
		pageMove('.page-move');
		tabControl(".sector-tab");
	}
	
	function tabControl($seletor){
		$($seletor).find(".tab-list").children("li").on("click", function(){
			var idx = $(this).index();
			var tabList = $($seletor).find(".tab-list").children("li");
					
			tabList.removeClass("on");
			tabList.eq(idx).addClass("on");
			
			$($seletor).find(".tab-view").hide();
			$($seletor).find(".tab-view").eq(idx).show();
		});
	}

</script>

