@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
	string viewPath = ((RazorView)ViewContext.View).ViewPath;
	viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);

	String link1 = ("W".Equals(ViewBag.PlatformCd))? "https://public.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTUwMzk": "https://brand.eduwill.net/sugang/view.will?mSeq=34542&progress=Z";
	String link2 = ("W".Equals(ViewBag.PlatformCd))? "https://event.eduwill.net/Event/2021/Z/LanTutoring": "https://mevent.eduwill.net/Event/2021/Z/LanTutoring";
	String link3 = ("W".Equals(ViewBag.PlatformCd))? "#targetService": "#targetService1";
}

<div class="promotion">
	<div data-eduwill-eco-content="2684"></div>
	@if ("W".Equals(ViewBag.PlatformCd)){
		<div class="bottom-banner">
			<div class="wrap">
				<a href="@link3" class="page-move pointer" onclick="tabShow(1)">
					<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/bottom_banner.png" alt="" />
				</a>
			</div>
		</div>
	}
	<div class="container promotion-title">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/title.png" alt="" />
			<ul class="title-text">
				<li>GSAT<br>모의고사/<br>해설강의</li>
				<li>삼성 합격<br>교재<br>3종 무료</li>
				<li>1:1 컨설팅<br>/면접 강의</li>
				<li>최종 합격<br>장학금 지급</li>
			</ul>
			<div class="item benefit">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/benefit.png" alt="" />
			</div>
			@if ("W".Equals(ViewBag.PlatformCd)){
				<div class="action">
					<a href="@link3" class="page-move pointer" onclick="tabShow(1)">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/btn_title.png" alt="" />
					</a> 
				</div>
			}
		</div>
	</div>

	<div class="container promotion-review">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/title_review.jpg" alt="" />
			<div class="slider" data-slide="review">
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/pc/slide_review1.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/pc/slide_review2.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/pc/slide_review3.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/pc/slide_review4.png" alt="" /></div>
			</div>
		</div>
	</div>

	<div class="container promotion-video-one">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/video_one_title.jpg" alt="">
			<div class="eduf-video-wrap" data-layer="0" data-video="https://www.youtube.com/embed/8x-pjz2YVFU" data-poster="//img.eduwill.net/eduwill/img/2021/Z/event/211104/pc/video_thumb.jpg"></div>
			<div class="winner-contents">
				<div class="winner-list"></div>
			</div>
			<p class='notice'>
				[1위] 2022/2021 대한민국 브랜드만족도 공기업 취업 교육 1위 (한경비즈니스)<br>
				[합격자 100% 추천]에듀윌 2021 합격생(유,무료강의 포함) 온라인 설문 결과(2021.04~2021.07)<br>
				[합격자 수 증가] 에듀윌 취업 서류, 필기, 면접 전형 합격자 인증 건 수 비교(2015~19년vs2020년, 중복 포함)
			</p>
		</div>
	</div>

	<div class="container promotion-bar">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/bar.jpg" alt="" />
		</div>
	</div>

	<div id="targetService" class="container promotion-service tab-wrap">
		<div class="wrap">
			<div class="nav-wrap">
				<ul class="tab-nav">
					<li class="nav1"><a href="#targetService1" data-tabnav="1"><span class="tit">GSAT 모의고사<br />+해설 특강 신청</span></a></li>
					<li class="nav2"><a href="#targetService2" data-tabnav="2"><span class="tit">모의고사 후기<br />작성하고 교재 받기</span></a></li>
					<li class="nav3"><a href="#targetService3" data-tabnav="3"><span class="tit">GSAT 후기 쓰고<br />면접 강의/컨설팅 받기</span></a></li>
					<li class="nav4"><a href="#targetService4" data-tabnav="4"><span class="tit">최종 합격 후기 쓰고<br />100% 장학금 받기</span></a></li>
				</ul>
			</div>
		</div>

		@* Tab1 *@
		<div id="targetService1" class="container promotion-service1 tab-view" data-tabcontent="1">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/service1.jpg" alt="" />
				@if ("M".Equals(ViewBag.PlatformCd)){
					<div class="slider" data-slide="service1">
						<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/mobile/slide_service1_1.png" alt="" /></div>
						<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/mobile/slide_service1_2.png" alt="" /></div>
					</div>
				}

				<div class="action">
					@* 상품 입과 버튼 *@
					<button type="button" class="pointer btn-apply" id="btn-apply1" onclick="">
						<span class="sr-only">무료 알림 문자 신청하고 100% 혜택 받기</span>
					</button> 
				</div>

				@* 개인정보 동의 체크박스 *@
				<div class="agree-box">
					<div class="privacy-list">
						<div class="all-check">
							<input type="checkbox" name="" id="agreeAllY1">
							<label for="agreeAllY1">개인정보 수집 · 이용에 모두 동의합니다.</label>
						</div>
						<div class="check-box scroll-box">
							<div class="row">
								<div class="inner-box">
									<p class="inner-title">ㆍ개인정보 수집 및 이용에 대한 동의 (필수)</p>
									<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
									<ul>
										<li>- 수집 및 이용 목적 : 참여자 정보 확인, 안내 문자 발송, 혜택 발송</li>
										<li>- 수집항목 : 이름, 휴대폰번호</li>
										<li><strong>- 보유 및 이용기간 : 이벤트 마감 후 60일</strong></li>
									</ul>
									<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</p>
								</div>
								<div class="check">
									<input type="checkbox" name="" id="agreeY1_1">
									<label for="agreeY1_1">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. <em>(필수)</em></label>
								</div>
							</div>

							<div class="row">
								<div class="inner-box">
									<p class="inner-title">ㆍ개인정보 수집 및 이용에 대한 동의 <span>(선택)</span></p>
									<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
									<ul>
										<li>- 수집 및 이용 목적 : 이벤트/할인 광고성 문자 발송</li>
										<li>- 수집항목 : 이름, 휴대폰번호</li>
										<li><strong>- 보유 및 이용 기간 : 이벤트 마감 후 60일</strong></li>
									</ul>
									<p>귀하는 개인정보 수집 및 이용 동의를 거부할 수 있습니다. 다만, 동의를 거부하더라도 이벤트 참여는 가능합니다.</p>
								</div>
								<div class="check">
									<input type="checkbox" name="" id="agreeY1_2">
									<label for="agreeY1_2">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. <span>(선택)</span></label>
								</div>
							</div>

							<div class="row">
								<div class="inner-box">
									<p class="inner-title">ㆍ개인정보 마케팅 활용 동의 <span>(선택)</span></p>
									<p>(주)에듀윌은 본 이벤트에 한정하여 상품 및 이벤트 안내 등을 위해 참여자의 개인정보를 마케팅에 활용 할 수 있습니다.</p>
									<ul>
										<li>- 수집 및 이용목적 : 상품 및 이벤트 안내, 가입권유</li>
										<li>- 수집항목 : 이름, 휴대폰번호</li>
										<li><strong>- 보유 및 이용기간 : 이벤트 마감 후 60일</strong></li>
									</ul>
									<p>귀하는 개인정보 마케팅 활용 동의를 거부할 수 있습니다. 다만, 동의를 거부하더라도 이벤트 참여는 가능합니다.</p>
								</div>
								<div class="check">
									<input type="checkbox" name="" id="agreeY1_3">
									<label for="agreeY1_3">위 내용을 충분히 이해하였으며, 마케팅 및 개인정보 활용에 동의합니다. <span>(선택)</span></label>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		
		@* Tab2 *@
		<div id="targetService2" class="container promotion-service2 tab-view" data-tabcontent="2">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/service2.jpg" alt="" />

				<form>
					<div class="form-wrap">

						<div class="page">
							<div class="row">
								<div class="col subject">
									<p>
										에듀윌 GSAT 온라인 모의고사와<br>박지웅, 김창진 교수님의 해설강의에 대한 후기를 남겨주세요.
									</p>
								</div>
							</div>
							<div class="input-wrap input-wrap-text">
								<div class="row">
									<div class="col">
										<textarea class="textarea height" maxlength="" placeholder="ex. GSAT 시험 경험이 없어 실전 연습이 필요했는데,&#13;&#10;에듀윌 온라인 모의고사를 통해 실전 환경에 대한 연습이 되었습니다.&#13;&#10;&#13;&#10;시험 후 혼자서 이해하지 못했던 부분들을 해설 강의를 통해 해결할 수 있어 좋았고,&#13;&#10;그 외 꿀팁들도 알 수 있어서 유익했습니다."></textarea>
									</div>
								</div>
								<div class="row mb-m">
									<div class="col agree">
										<div class="check">
											<input type="checkbox" id="mk_1_1" name="mk_1"> 
											<label for="mk_1_1">작성한 내용은 에듀윌 취업 마케팅에 활용될 수 있음을 확인하였습니다.</label>
										</div>
									</div>
								</div>
							</div>
							<button type="button" class="pointer btn-apply" id="btn-apply2" onclick="">
								<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/btn_apply2.png" alt="후기 제출하고 실물 교재 3종 받기" />
							</button>
						</div>

						@* 개인정보 동의 체크박스 *@
						<div class="agree-box">
							<div class="privacy-list">
								<div class="all-check">
									<input type="checkbox" name="" id="agreeAllY2">
									<label for="agreeAllY2">개인정보 수집 · 이용에 모두 동의합니다.</label>
								</div>
								<div class="check-box scroll-box">
									<div class="row">
										<div class="inner-box">
											<p class="inner-title">ㆍ개인정보 수집 및 이용에 대한 동의 (필수)</p>
											<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
											<ul>
												<li>- 수집 및 이용 목적 : 참여자 정보 확인, 안내 문자 발송, 혜택 발송</li>
												<li>- 수집항목 : 이름, 휴대폰번호</li>
												<li><strong>- 보유 및 이용기간 : 이벤트 마감 후 60일</strong></li>
											</ul>
											<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</p>
										</div>
										<div class="check">
											<input type="checkbox" name="" id="agreeY2_1">
											<label for="agreeY2_1">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. <em>(필수)</em></label>
										</div>
									</div>

									<div class="row">
										<div class="inner-box">
											<p class="inner-title">ㆍ개인정보 수집 및 이용에 대한 동의 <span>(선택)</span></p>
											<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
											<ul>
												<li>- 수집 및 이용 목적 : 이벤트/할인 광고성 문자 발송</li>
												<li>- 수집항목 : 이름, 휴대폰번호</li>
												<li><strong>- 보유 및 이용 기간 : 이벤트 마감 후 60일</strong></li>
											</ul>
											<p>귀하는 개인정보 수집 및 이용 동의를 거부할 수 있습니다. 다만, 동의를 거부하더라도 이벤트 참여는 가능합니다.</p>
										</div>
										<div class="check">
											<input type="checkbox" name="" id="agreeY2_2">
											<label for="agreeY2_2">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. <span>(선택)</span></label>
										</div>
									</div>

									<div class="row">
										<div class="inner-box">
											<p class="inner-title">ㆍ개인정보 마케팅 활용 동의 <span>(선택)</span></p>
											<p>(주)에듀윌은 본 이벤트에 한정하여 상품 및 이벤트 안내 등을 위해 참여자의 개인정보를 마케팅에 활용 할 수 있습니다.</p>
											<ul>
												<li>- 수집 및 이용목적 : 상품 및 이벤트 안내, 가입권유</li>
												<li>- 수집항목 : 이름, 휴대폰번호</li>
												<li><strong>- 보유 및 이용기간 : 이벤트 마감 후 60일</strong></li>
											</ul>
											<p>귀하는 개인정보 마케팅 활용 동의를 거부할 수 있습니다. 다만, 동의를 거부하더라도 이벤트 참여는 가능합니다.</p>
										</div>
										<div class="check">
											<input type="checkbox" name="" id="agreeY2_3">
											<label for="agreeY2_3">위 내용을 충분히 이해하였으며, 마케팅 및 개인정보 활용에 동의합니다. <span>(선택)</span></label>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>

		@* Tab3 *@
		<div id="targetService3" class="container promotion-service3 tab-view" data-tabcontent="3">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/service3.jpg" alt="" />

				<form>
					<div class="form-wrap">
						<span class="paging-info paging-info1"></span>
						<div class="slider-input1">
							<div class="slide-page slide-page-1 ">
								<div class="row">
									<div class="col subject">
										<h1>STEP 01. 서류 합격 인증</h1>
										<p>
											장학생은 GSAT 응시 완료한 인원을 대상으로 선정됩니다.<br>
											대상자 확인을 위해 서류 합격 인증 이미지를 첨부해주세요!
										</p>
									</div>
								</div>
								<div class="input-wrap input-wrap-file">
									@if("M".Equals(ViewBag.PlatformCd)){
									<div class="row only-mobile">
										<div class="col title full">
											<strong>서류 합격 인증 이미지 첨부</strong>
										</div>
									</div>
									}
									<div class="row">
										@if("W".Equals(ViewBag.PlatformCd)){
										<div class="col title only-web">
											<strong>서류 합격 인증 이미지 첨부</strong>
										</div>
										}
										<div class="col">
											<div class="file-box">
												<input type="text" class="upload-name" value="" readonly placeholder="파일을 선택해주세요" />
												<input type="file" id="fileName" name="ticketImg" class="upload-hidden" />
												<label for="fileName">파일 선택</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col notice">
										<p>
											* 서류 상에서 응시 기업명, 지원 직무, 본인 정보 확인이 가능해야 합니다.
										</p>
									</div>
								</div>
							</div>
							<div class="slide-page slide-page-2">
								<div class="row">
									<div class="col subject">
										<h1>STEP 02. 난이도 설문</h1>
										<p>
											이번 GSAT 시험의 난이도에 대해 간단하게 체크해주세요.
										</p>
									</div>
								</div>
								<div class="input-wrap">
									<div class="row">
										<div class="col title full">
											<p>1. 체감 난이도는 어땠나요?</p>
										</div>
									</div>
									<div class="row mb">
										<div class="col checks-wrap line">
											<div class="checks">
												<input type="radio" id="rd_1_01" name="rd_1"> 
												<label for="rd_1_01">매우 쉬움</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_1_02" name="rd_1"> 
												<label for="rd_1_02">쉬운 편</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_1_03" name="rd_1" checked> 
												<label for="rd_1_03">보통</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_1_04" name="rd_1"> 
												<label for="rd_1_04">어려운 편</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_1_05" name="rd_1"> 
												<label for="rd_1_05">매우 어려움</label> 
											</div>

										</div>
									</div>
									<div class="row">
										<div class="col title full">
											<p>2. 어느 영역이 가장 어려웠나요?</p>
										</div>
									</div>
									<div class="row mb">
										<div class="col checks-wrap">
											<div class="checks">
												<input type="radio" id="rd_2_01" name="rd_2" checked> 
												<label for="rd_2_01">수리 논리 ▶ 응용수리</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_2_02" name="rd_2"> 
												<label for="rd_2_02">추리 ▶ 어휘추리</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_2_03" name="rd_2"> 
												<label for="rd_2_03">수리 논리 ▶ 자료해석</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_2_04" name="rd_2"> 
												<label for="rd_2_04">추리 ▶ 도형추리</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_2_05" name="rd_2"> 
												<label for="rd_2_05">추리 ▶ 명제</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_2_06" name="rd_2"> 
												<label for="rd_2_06">추리 ▶ 도식추리</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_2_07" name="rd_2"> 
												<label for="rd_2_07">추리 ▶ 조건추리</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_2_08" name="rd_2"> 
												<label for="rd_2_08">추리 ▶ 독해추론</label> 
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col title full">
											<p>3. 기존 시험과 난이도 유사도는 어땠나요?</p>
										</div>
									</div>
									<div class="row mb">
										<div class="col checks-wrap">
											<div class="checks">
												<input type="radio" id="rd_3_01" name="rd_3" checked> 
												<label for="rd_3_01">기존과 비슷했다</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_3_02" name="rd_3"> 
												<label for="rd_3_02">더 어려웠다</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_3_03" name="rd_3"> 
												<label for="rd_3_03">더 쉬웠다</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd_3_04" name="rd_3"> 
												<label for="rd_3_04">GSAT 처음 응시</label> 
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col title full">
											<p>4. 에듀윌 삼성 GSAT 교재에서 유사한 문제가 있었다면 기재해주세요.</p>
										</div>
									</div>
									<div class="row mb">
										<div class="col">
											<textarea class="textarea" maxlength="" placeholder="ex. 톱니바퀴 3개짜리 문제, 숫자까지 똑같이 나와서 쉽게 풀었습니다."></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col title full">
											<p>5. 기억에 남는 문제가 있다면 기재해주세요.</p>
										</div>
									</div>
									<div class="row mb-m">
										<div class="col">
											<textarea class="textarea" maxlength="" placeholder="ex. A와 B 사이 최단 경로 구하는 문제"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="slide-page slide-page-3">
								<div class="row">
									<div class="col subject">
										<h1>STEP 03. 응시 후기 작성</h1>
										<p>
											정성스러운 답변을 작성하신 분들은 우수 장학생으로 선발되며,<br>
											우수 장학생들에게는 15만원 상당의 1:1 면접 컨설팅을 제공합니다.
										</p>
									</div>
								</div>
								<div class="input-wrap input-wrap-text">
									<div class="row">
										<div class="col">
											<textarea class="textarea height" maxlength="" placeholder="ex. 처음 도전하는 GSAT 이었는데 예상했던 것 보다 난이도가 어려웠습니다.&#13;&#10;그래도 에듀윌에서 제공하는 온라인 모의고사를 통해 실전감각을 익히고 갈 수 있어서&#13;&#10;당황하지 않고 시험에 응할 수 있었습니다.&#13;&#10;&#13;&#10;삼성 전문가이신 김치성 교수님의 1:1 면접 컨설팅을 통해서&#13;&#10;최종 합격 까지 한 번에 이루고 장학금까지 받고 싶습니다."></textarea>
										</div>
									</div>
									<div class="row mb-m">
										<div class="col agree">
											<div class="check">
												<input type="checkbox" id="mk_2_1" name="mk_2"> 
												<label for="mk_2_1">작성한 내용은 에듀윌 취업 마케팅에 활용될 수 있음을 확인하였습니다.</label>
											</div>
										</div>
									</div>
								</div>

								<button type="button" class="pointer btn-apply" id="btn-apply3" onclick="">
									<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/btn_apply1.png" alt="최종 제출" />
								</button>

								@* 개인정보 동의 체크박스 *@
								<div class="agree-box">
									<div class="privacy-list">
										<div class="all-check">
											<input type="checkbox" name="" id="agreeAllY3">
											<label for="agreeAllY3">개인정보 수집 · 이용에 모두 동의합니다.</label>
										</div>
										<div class="check-box scroll-box">
											<div class="row">
												<div class="inner-box">
													<p class="inner-title">ㆍ개인정보 수집 및 이용에 대한 동의 (필수)</p>
													<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
													<ul>
														<li>- 수집 및 이용 목적 : 참여자 정보 확인, 안내 문자 발송, 혜택 발송</li>
														<li>- 수집항목 : 이름, 휴대폰번호</li>
														<li><strong>- 보유 및 이용기간 : 이벤트 마감 후 60일</strong></li>
													</ul>
													<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</p>
												</div>
												<div class="check">
													<input type="checkbox" name="" id="agreeY3_1">
													<label for="agreeY3_1">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. <em>(필수)</em></label>
												</div>
											</div>

											<div class="row">
												<div class="inner-box">
													<p class="inner-title">ㆍ개인정보 수집 및 이용에 대한 동의 <span>(선택)</span></p>
													<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
													<ul>
														<li>- 수집 및 이용 목적 : 이벤트/할인 광고성 문자 발송</li>
														<li>- 수집항목 : 이름, 휴대폰번호</li>
														<li><strong>- 보유 및 이용 기간 : 이벤트 마감 후 60일</strong></li>
													</ul>
													<p>귀하는 개인정보 수집 및 이용 동의를 거부할 수 있습니다. 다만, 동의를 거부하더라도 이벤트 참여는 가능합니다.</p>
												</div>
												<div class="check">
													<input type="checkbox" name="" id="agreeY3_2">
													<label for="agreeY3_2">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. <span>(선택)</span></label>
												</div>
											</div>

											<div class="row">
												<div class="inner-box">
													<p class="inner-title">ㆍ개인정보 마케팅 활용 동의 <span>(선택)</span></p>
													<p>(주)에듀윌은 본 이벤트에 한정하여 상품 및 이벤트 안내 등을 위해 참여자의 개인정보를 마케팅에 활용 할 수 있습니다.</p>
													<ul>
														<li>- 수집 및 이용목적 : 상품 및 이벤트 안내, 가입권유</li>
														<li>- 수집항목 : 이름, 휴대폰번호</li>
														<li><strong>- 보유 및 이용기간 : 이벤트 마감 후 60일</strong></li>
													</ul>
													<p>귀하는 개인정보 마케팅 활용 동의를 거부할 수 있습니다. 다만, 동의를 거부하더라도 이벤트 참여는 가능합니다.</p>
												</div>
												<div class="check">
													<input type="checkbox" name="" id="agreeY3_3">
													<label for="agreeY3_3">위 내용을 충분히 이해하였으며, 마케팅 및 개인정보 활용에 동의합니다. <span>(선택)</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		@* Tab4 *@
		<div id="targetService4" class="container promotion-service4 tab-view" data-tabcontent="4">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/service4.jpg" alt="" />

				<form>
					<div class="form-wrap">
						<span class="paging-info paging-info2"></span>
						<div class="slider-input2">
							<div class="slide-page slide-page-1">
								<div class="row">
									<div class="col subject">
										<h1>STEP 01. 최종 합격 인증</h1>
										<p>
											장학금은 삼성 최종 합격 인원을 대상으로 지급됩니다.<br>
											대상자 확인을 위해 최종 합격 인증 이미지를 첨부해주세요!
										</p>
									</div>
								</div>
								<div class="input-wrap input-wrap-file">
									@if("M".Equals(ViewBag.PlatformCd)){
									<div class="row only-mobile">
										<div class="col title full">
											<strong>최종 합격 인증 이미지 첨부</strong>
										</div>
									</div>
									}
									<div class="row">
										@if("W".Equals(ViewBag.PlatformCd)){
										<div class="col title only-web">
											<strong>최종 합격 인증 이미지 첨부</strong>
										</div>
										}
										<div class="col">
											<div class="file-box">
												<input type="text" class="upload-name" value="" readonly placeholder="파일을 선택해주세요" />
												<input type="file" id="fileName2" name="ticketImg2" class="upload-hidden" />
												<label for="fileName2">파일 선택</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col notice">
										<p>
											* 서류 상에서 응시 기업명, 지원 직무, 본인 정보 확인이 가능해야 합니다.
										</p>
									</div>
								</div>
							</div>
							<div class="slide-page slide-page-2">
								<div class="row">
									<div class="col subject">
										<h1>STEP 02. 최종 합격 후기 작성</h1>
										<p>
											합격 후기를 작성하시면 장학금 10만원이 지급됩니다.<br>
											장학생 여러분의 솔직한 후기를 남겨주세요 :)
										</p>
									</div>
								</div>
								<div class="input-wrap">
									<div class="row">
										<div class="col title full">
											<p>1. 취준 시작부터 합격까지 얼마의 기간이 소요됐는지 체크해주세요.</p>
										</div>
									</div>
									<div class="row mb">
										<div class="col checks-wrap">
											<div class="checks">
												<input type="radio" id="rd2_1_01" name="rd2_1" checked> 
												<label for="rd2_1_01">3개월 미만</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd2_1_02" name="rd2_1"> 
												<label for="rd2_1_02">3개월 이상 ~ 6개월 미만</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd2_1_03" name="rd2_1"> 
												<label for="rd2_1_03">6개월 이상 ~ 1년 미만</label> 
											</div>
											<div class="checks">
												<input type="radio" id="rd2_1_04" name="rd2_1"> 
												<label for="rd2_1_04">1년 이상</label> 
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col title full">
											<p>2. 수강했던 에듀윌 강의에 체크해주세요. [중복 선택 가능]</p>
										</div>
									</div>
									<div class="row mb">
										<div class="col checks-wrap">
											<div class="checks">
												<input type="checkbox" id="ck2_2_01" name="ck2_2"> 
												<label for="ck2_2_01">GSAT 등 인적성</label> 
											</div>
											<div class="checks">
												<input type="checkbox" id="ck2_2_02" name="ck2_2"> 
												<label for="ck2_2_02">자기소개서</label> 
											</div>
											<div class="checks">
												<input type="checkbox" id="ck2_2_03" name="ck2_2"> 
												<label for="ck2_2_03">면접</label> 
											</div>
											<div class="checks">
												<input type="checkbox" id="ck2_2_04" name="ck2_2"> 
												<label for="ck2_2_04">기타 무료 강의</label> 
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col title full">
											<p>3. 합격 후기를 작성해주세요. [500자 이상]</p>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<textarea class="textarea height" maxlength="" placeholder="ex. 박지웅 교수님 GSAT 강의 덕분에 첫 도전에 최종합격 했습니다.&#13;&#10;&#13;&#10;박지웅 교수님 GSAT 강의는 여러가지 시간 단축 스킬을 알려주실 뿐만 아니라&#13;&#10;실전에 적용할 수 있는 꿀팁을 많이 알려주셔서 시험에서 여유롭게 풀 수 있었습니다.&#13;&#10;&#13;&#10;또한 서미연, 김치성 교수님의 면접 강의 덕분에&#13;&#10;최종 면접에서 당황하지 않고 저 자신을 잘 표현할 수 있었습니다."></textarea>
										</div>
									</div>
									<div class="row mb-m">
										<div class="col agree">
											<div class="check">
												<input type="checkbox" id="mk_3_1" name="mk_3"> 
												<label for="mk_3_1">작성한 내용은 에듀윌 취업 마케팅에 활용될 수 있음을 확인하였습니다.</label>
											</div>
										</div>
									</div>
								</div>

								<button type="button" class="pointer btn-apply" id="btn-apply4" onclick="">
									<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/btn_apply1.png" alt="최종 제출" />
								</button>

								@* 개인정보 동의 체크박스 *@
								<div class="agree-box">
									<div class="privacy-list">
										<div class="all-check">
											<input type="checkbox" name="" id="agreeAllY4">
											<label for="agreeAllY4">개인정보 수집 · 이용에 모두 동의합니다.</label>
										</div>
										<div class="check-box scroll-box">
											<div class="row">
												<div class="inner-box">
													<p class="inner-title">ㆍ개인정보 수집 및 이용에 대한 동의 (필수)</p>
													<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
													<ul>
														<li>- 수집 및 이용 목적 : 참여자 정보 확인, 안내 문자 발송, 혜택 발송</li>
														<li>- 수집항목 : 이름, 휴대폰번호</li>
														<li><strong>- 보유 및 이용기간 : 이벤트 마감 후 60일</strong></li>
													</ul>
													<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</p>
												</div>
												<div class="check">
													<input type="checkbox" name="" id="agreeY4_1">
													<label for="agreeY4_1">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. <em>(필수)</em></label>
												</div>
											</div>

											<div class="row">
												<div class="inner-box">
													<p class="inner-title">ㆍ개인정보 수집 및 이용에 대한 동의 <span>(선택)</span></p>
													<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
													<ul>
														<li>- 수집 및 이용 목적 : 이벤트/할인 광고성 문자 발송</li>
														<li>- 수집항목 : 이름, 휴대폰번호</li>
														<li><strong>- 보유 및 이용 기간 : 이벤트 마감 후 60일</strong></li>
													</ul>
													<p>귀하는 개인정보 수집 및 이용 동의를 거부할 수 있습니다. 다만, 동의를 거부하더라도 이벤트 참여는 가능합니다.</p>
												</div>
												<div class="check">
													<input type="checkbox" name="" id="agreeY4_2">
													<label for="agreeY4_2">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. <span>(선택)</span></label>
												</div>
											</div>

											<div class="row">
												<div class="inner-box">
													<p class="inner-title">ㆍ개인정보 마케팅 활용 동의 <span>(선택)</span></p>
													<p>(주)에듀윌은 본 이벤트에 한정하여 상품 및 이벤트 안내 등을 위해 참여자의 개인정보를 마케팅에 활용 할 수 있습니다.</p>
													<ul>
														<li>- 수집 및 이용목적 : 상품 및 이벤트 안내, 가입권유</li>
														<li>- 수집항목 : 이름, 휴대폰번호</li>
														<li><strong>- 보유 및 이용기간 : 이벤트 마감 후 60일</strong></li>
													</ul>
													<p>귀하는 개인정보 마케팅 활용 동의를 거부할 수 있습니다. 다만, 동의를 거부하더라도 이벤트 참여는 가능합니다.</p>
												</div>
												<div class="check">
													<input type="checkbox" name="" id="agreeY4_3">
													<label for="agreeY4_3">위 내용을 충분히 이해하였으며, 마케팅 및 개인정보 활용에 동의합니다. <span>(선택)</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
									
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<div class="container promotion-successful">
		<div class="wrap">
			<img alt="" src="https://img.eduwill.net/eduwill//img/2022/Z/event/220316/@platform/successful.jpg" />
			<div class="successful-motion">
				<img alt="" src="https://img.eduwill.net/eduwill/img/2022/Z/event/220225/pc/successful_motion.jpg" />
			</div>
		</div>
	</div>

	<div class="container promotion-video">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220316/@platform/video_title.jpg" alt="취린이도 한 번에 합격 가능합니다">
			
			@if ("W".Equals(ViewBag.PlatformCd)){
			
				<div class="thumb-list">
					<div class="videoslider" id="">
						<div class="thumb">
							<button type="button" class="btn-play active" data-url="https://www.youtube.com/embed/Ke0cjFcgNhg">
								<img src="//img.eduwill.net/eduwill/img/2021/Z/event/211005/pc/thumb1.jpg" alt="#비전공자합격" />
							</button>
						</div>
						<div class="thumb">
							<button type="button" class="btn-play" data-url="https://www.youtube.com/embed/Ix3i5G3s_uk">
								<img src="//img.eduwill.net/eduwill/img/2021/Z/event/211005/pc/thumb2.jpg" alt="#38살신입합격" />
							</button>
						</div>
						<div class="thumb">
							<button type="button" class="btn-play" data-url="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20210129/HGS_Interview.mp4">
								<img src="//img.eduwill.net/eduwill/img/2021/Z/event/211005/pc/thumb3.jpg" alt="#첫도전에합격" />
							</button>
						</div>
					</div>
				</div>

				<div class="view-wrap"></div>

			}else{
				<div class="video-content">
					<div class="thumb-list">
						<div class="videoslider" id="">
							<div class="thumb">
								<div class="view-wrap"></div>
								<button type="button" class="btn-play active" data-url="https://www.youtube.com/embed/Ke0cjFcgNhg">
									<img src="//img.eduwill.net/eduwill/img/2021/Z/event/211005/pc/thumb1.jpg" alt="#비전공자합격" />
								</button>
							</div>
							<div class="thumb">
								<div class="view-wrap"></div>
								<button type="button" class="btn-play" data-url="https://www.youtube.com/embed/Ix3i5G3s_uk">
									<img src="//img.eduwill.net/eduwill/img/2021/Z/event/211005/pc/thumb2.jpg" alt="#38살신입합격" />
								</button>
							</div>
							<div class="thumb">
								<div class="view-wrap"></div>
								<button type="button" class="btn-play" data-url="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20210129/HGS_Interview.mp4">
									<img src="//img.eduwill.net/eduwill/img/2021/Z/event/211005/pc/thumb3.jpg" alt="#첫도전에합격" />
								</button>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	<div class="container promotion-pass">
		<div class="wrap">
			<div class="text-box">
				에듀윌 취업과 함께 하면<br>
				<b>다음 합격의 주인공은 여러분입니다</b>
			</div>
			<div class="slider-box">
				<div class="slider-logo">
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성SDI 합격<br /> 손*주
						</p>
						<p>
							<img alt="삼성"
								src="//img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성카드 합격<br /> 이*영
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성바이오로직스 합격<br /> 전*성
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성중공업 합격<br /> 임*환
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성생명 합격<br /> 김*규
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성물산 합격<br /> 강*호
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전기 합격<br /> 김*은
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 한*은
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*롬
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성엔지니어링 합격<br /> 조*진
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성디스플레이 합격<br /> 안*한
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 황*아
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 안*진
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 박*연
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성바이오로직스 합격<br /> 권*정
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 황*연
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 김*영
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*아
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*국
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 김*렙
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 남*정
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*재
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*순
						</p>
						<p>
							<img alt="삼성"
								src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 박*웅
						</p>
					</div>
				</div>
			</div>
			<img alt="꽃가루" src="https://img.eduwill.net/eduwill/img/2021/Z/product/211215/pc/firecracker.png" class="firecracker" />
		</div>
	</div>

	<div class="container promotion-consulting" id="targetConsulting">
		<div class="wrap">
			<img alt="" src="https://img.eduwill.net/eduwill//img/2022/Z/event/220316/@platform/consulting_title1.jpg" />
			<ul class="list">
				<li>
					<a class="pointer" href="@link1" target="_blank" title="새창열기"><img alt="" src="https://img.eduwill.net/eduwill//img/2022/Z/event/220316/@platform/btn_product1.jpg" /></a>
				</li>
			</ul>
			<img alt="" src="https://img.eduwill.net/eduwill//img/2022/Z/event/220316/@platform/consulting_title2.jpg" />
			<ul class="list">
				<li>
					<a class="pointer" href="@link2" target="_blank" title="새창열기"><img alt="" src="https://img.eduwill.net/eduwill//img/2022/Z/event/220316/@platform/btn_product2.jpg" /></a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="container promotion-notice">
		<div class="wrap">
			<div data-eduwill-eco-content="4406"></div>
		</div>
	</div>

</div>

<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function(){
		addEvent();
		addSlider();
		videoSlider();
		videoViewer();
		_f_initVideoPlay();
		winnerList();
		tabInit();
		tabControl(".promotion-product");
	});

	function addEvent(){
		// scroll 이동
		if(isMobile){
			pageMove('.page-move', -39);
		}else{
			pageMove('.page-move');
		}

		//title
		function curriculumStep(){
			var delay = 1000;
			$('.title-text li').each(function(i, e) {
				setTimeout(function() {
					$('.title-text li').removeClass('on');
					$(e).toggleClass('on');
				}, i * delay);
			});
		}
		setInterval(function(){
			curriculumStep();
		}, 4000);

		//file upload
		var fileTarget = $('.file-box .upload-hidden');
		fileTarget.on('change', function(){
			if(window.FileReader){
				var filename = $(this)[0].files[0].name;
			} else {
				var filename = $(this).val().split('/').pop().split('\\').pop();
			}
			$(this).siblings('.upload-name').val(filename);
		});

		// 개인정보 전체동의
		$(".all-check input:checkbox").on("click", function () {
			$(this).parents(".privacy-list").find(".scroll-box input:checkbox").prop('checked', function () {
				return !$(this).prop('checked');
			});
		});

	}

	function addSlider(){

		$('.slider-logo').slick({
			autoplay: true,
			autoplaySpeed: 0,
			infinite: true,
			cssEase: 'linear',
			arrows: false,
			slidesToScroll: 1,
			speed: 1500,
			slidesToShow: 6,
			vertical: true,
		});

		$('.slider').each(function() {
			var _data = $(this).data('slide');
			var _arrows = false;
			var _slidesToShow = 1;
			var _slidesToScroll = 1;
			var _dots = false;

			if( _data == 'review' ){
				if(isMobile){
				_slidesToShow = 2;
				}else{
				_slidesToShow = 3;
				}
			} else if (_data == 'service1' ){
				_dots = true;
			}
			$(this).slick({
				autoplay: true,
				autoplaySpeed: 3000,
				infinite: true,
				arrows: _arrows,
				slidesToShow: _slidesToShow,
				slidesToScroll: _slidesToScroll,
				dots: _dots
			});
		});

		//Tab 3
		var $status = $('.paging-info1');
		var $slickElement = $('.slider-input1');
		$slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
			if(!slick.$dots){
				return;
			}
			var count = (currentSlide ? currentSlide : 0) + 1;
				$status.text(count + '/' + (slick.$dots[0].children.length));
		});
		$slickElement.slick({
			autoplay: false,
			arrows: true,
			dots: true,
			slidesToShow: 1,
			_centerMode: true,
			slidesToScroll: 1,
			draggable : false,
			infinite: false,
			adaptiveHeight: true,
			speed: 0, 
			swipe:false,
		});

		//Tab 4
		var $status2 = $('.paging-info2');
		var $slickElement2 = $('.slider-input2');
		$slickElement2.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
			if(!slick.$dots){
				return;
			}
			var count2 = (currentSlide ? currentSlide : 0) + 1;
				$status2.text(count2 + '/' + (slick.$dots[0].children.length));
		});
		$slickElement2.slick({
			autoplay: false,
			arrows: true,
			dots: true,
			slidesToShow: 1,
			_centerMode: true,
			slidesToScroll: 1,
			draggable : false,
			infinite: false,
			adaptiveHeight: true,
			speed: 0, 
			swipe:false,
		});
		
	}

	function videoSlider(){
		if(isMobile){
			$('.videoslider').slick({
				autoplay: false,
				autoplaySpeed: 4000,
				infinite: true,
				arrows: true,
				dots: false
			});
		}else{
			$('.videoslider').slick({
				autoplay: false,
				autoplaySpeed: 4000,
				infinite: true,
				arrows: true,
				dots: false,
				slidesToScroll: 1,
				slidesToShow: 3
			});
		}
	}
	function videoViewer(){
		var view, path, youtube, mp4;

		if(isMobile){
			//mobile
			viewer = $('.video-content .view-wrap');
			path = $('.video-content .thumb-list .btn-play.active').data('url');
			initViewer(path);
			$(document).on('click', '.btn-play', function(){
				path = $(this).data('url');
				initViewer(path);
				$('.view-wrap').show();
				$('.video-content .thumb-list .active').removeClass('active');
				$(this).addClass('active');
				$('.slick-arrow').click(function(){
					$('.view-wrap').hide();
				});
			});
		}
		else{
			//pc
			viewer = $('.promotion-video .view-wrap');
			path = $('.promotion-video .thumb-list .btn-play.active').data('url');
			initViewer(path);
			$(document).on('click', '.btn-play', function(){
				path = $(this).data('url');
				initViewer(path);
				$('.promotion-video .thumb-list .active').removeClass('active');
				$(this).addClass('active');
			});
		}

		function initViewer(path){
			youtube = path.indexOf('youtube');
			mp4 = path.indexOf('mp4');
			viewer.html('');
			if(youtube > 0){
				viewer.html('<iframe src="' + path + '?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>'); 

			}else if(mp4 > 0){
				viewer.html('<video autoplay loop muted controls poster class="video"><source src="' + path + '" type="video/mp4"></video>');
			}else{
				viewer.html('<img src="' + path + '" alt="" />');
			}
		}
	}

	// VIDEO PLAY //promotion-video-one
	function _f_initVideoPlay() {

		var _videoHTML = ''
		var _youtubeHTML = ''
		var _videoData = $('.eduf-video-wrap')

		$.each(_videoData, function(){
			
			var _this = $(this)
			var _videoDataIndex = _this.data('video')
			var _videoDataLayer = _this.data('layer')
			var _youtube = 'youtube'
			
			if( _videoDataIndex.indexOf(_youtube) != -1 ){
				_youtubeHTML += '<div class="video-content" data-value="0">';
				_youtubeHTML += '<img src="'+_this.data('poster')+'" >';
				_youtubeHTML += '<iframe src="'+_this.data('video')+'" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" allow="autoplay; encrypted-media" allowfullscreen></iframe>';
				_youtubeHTML += '</div">';
				
				_this.append(_youtubeHTML);

			}else{
				_videoHTML += '<div class="video-content" data-value="1">';
				_videoHTML += '<video oncontextmenu="return false;" data-video="stop" onerror="failed(event)" poster="'+_this.data('poster')+'">';
				_videoHTML += '<source src="'+_this.data('video')+'" type="video/mp4">';
				_videoHTML += '</video>';
				_videoHTML += '</div">';

				_this.append(_videoHTML);
			}
			
			_this.off('click').on('click', function(){
			
				var _serveMovie = _this.find('video')
				var _youtubeMovie = _this.find('img')
				var _videoCode = _this.find('.video-content').data('value')
				
				// YouTube영상일때 클릭 이벤트
				if( _videoCode === 0 ){
					_youtubeMovie.fadeOut()
					_this.find('iframe').attr('src', ''+_this.data('video')+'?autoplay=1')
					
				}
				// Server 영상일때 클릭 이벤트
				else if( _videoCode === 1 && _serveMovie.attr('data-video') == 'stop' ){

					_serveMovie.attr('controls', '').attr('data-video', 'play').play
				}

			})
		})
	}
	// VIDEO ERROR FUNCTION
	function failed(e) {
		if( e.target.error ){	
			alert('네트워크 에러')

		}
	}

	function winnerList() {
		var options = {
			jsonFileNm: 'Z202108_WINNER.min',
		};

		var _row;
		var _show;

		if ("@(ViewBag.platformCd)" == "M") {
			_row = 3;
			_show = 6;
		} else {
			_row = 4;
			_show = 7;
		}
		var slickOptions = {
			speed: 1000,
			slidesPerRow: _row,
			slidesToShow: _show,
		};

		eduf.UI.Winner('.winner-list', options, slickOptions);
	}

	function tabInit(){
		// Tab Init
		$('.tab-wrap').each(function(){
			var _tg = $(this);
			var activeTab = _tg.find(".tab-nav li:first a").data("tabnav")+'';
			_tg.find(".tab-nav li:first a").addClass("active");
			$(".tab-view").hide();
			$('[data-tabcontent='+activeTab+']').show();
			
		// Tab Control
		_tg.find(".tab-nav a").click(function() {
				activeTab = $(this).data("tabnav");
				_tg.find("ul.tab-nav a").removeClass("active");
				$(".tab-view").hide();
				$(this).addClass("active");
				$('[data-tabcontent='+activeTab+']').show();

				if(activeTab == 3){
					$(".slider-input1").slick('slickGoTo', 0);
				}else if(activeTab == 4){
					$(".slider-input2").slick('slickGoTo', 0);
				}else{
					if(isMobile){
						var div = document.getElementById("targetService"+activeTab); 
						var divTop = div.getBoundingClientRect().top; 
						var absoluteTop = window.pageYOffset + div.getBoundingClientRect().top;
						window.scrollTo({top:absoluteTop - 50, behavior:'smooth'});
					}
				}

				return false;
			});
		})
	}
	function tabShow(tabName){
		$('.tab-view').hide()
		$('[data-tabcontent='+tabName+']').show()
		$('[data-tabnav='+tabName+']').addClass('active')
		$('[data-tabnav='+tabName+']').parent('li').siblings('li').find('a.active').removeClass("active");
	}
	function tabControl($seletor){
		$($seletor).find(".p-tab-list").children("li").on("click", function(){
			var idx = $(this).index();
			var tabList = $($seletor).find(".p-tab-list").children("li");

			tabList.removeClass("on");
			tabList.eq(idx).addClass("on");

			$($seletor).find(".p-tab-view").hide();
			$($seletor).find(".p-tab-view").eq(idx).show();

		});
	}

	$(window).on('scroll', function(){
		activeArea();
	});
	function activeArea(){
		var winTop = $(window).scrollTop();
		var winH = $(window).height();
		$('.container').each(function(index){
			var hei = $('.container').eq(index).outerHeight();
			var top = $('.container').eq(index).offset().top;
			if(winTop + winH > top){
				if(winTop > top + hei){
					$('.container').eq(index).removeClass('active');
				}else{
					if(winTop + winH > top + hei/2){
						$('.container').eq(index).addClass('active');
					}
				}
			}else{
				$('.container').eq(index).removeClass('active');
			}
		});
	}
	
</script>