@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "//uland.eduwill.net/ProductAuto/Index?masterSeq=MzEwNzc=" : "//brand.eduwill.net/sugang/view.will?progress=_105&mSeq=33122";
    String link2 = ("W".Equals(ViewBag.PlatformCd)) ? "//uland.eduwill.net/ProductAuto/Index?masterSeq=MjgxOTU=" : "//brand.eduwill.net/sugang/view.will?progress=_105&mSeq=33509";
    String link3 = ("W".Equals(ViewBag.PlatformCd)) ? "//uland.eduwill.net/ProductAuto/Index?masterSeq=MjgwNzY=" : "//brand.eduwill.net/sugang/view.will?progress=_105&mSeq=32676";
    String link4 = ("W".Equals(ViewBag.PlatformCd)) ? "//uland.eduwill.net/ProductAuto/Index?masterSeq=MzI2NDI=" : "//brand.eduwill.net/sugang/view.will?progress=_105&mSeq=35489";
}
<div id="contents" class="promotion">
	<div data-eduwill-eco-content="3285"></div>

	<div class="fix-banner">
		<div class="wrap">
			<a href="#sectorEvent" class="icon-pointer page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/fix_banner.png" alt="">
			</a>
		</div>
	</div>

	<div class="sector-title">
		<div class="bg-wrap">
			<div class="wrap">
				<p class="motion title-1"><img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/title_1.png" alt="부동산아카데미 강의를 들으셨나요?"></p>
				<p class="motion title-2"><img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/title_2.png" alt="수강후기 남기고 15만원 상당의 선물 받아가세요"></p>
				<p class="motion deco-1"><img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/pc/deco_1.png" alt=""></p>
				<p class="motion deco-2"><img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/pc/deco_2.png" alt=""></p>
				<p class="motion deco-3"><img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/pc/deco_3.png" alt=""></p>
				<p class="motion deco-4"><img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/pc/deco_4.png" alt=""></p>
				<p class="motion title-box">
					<a href="#sectorEvent" class="btn-apply icon-pointer page-move">
						<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/btn_apply.png" alt="">
					</a>
					<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/title_box.png" alt="">
				</p>
				<div class="target">
					<button onclick="javascript:;" class="btn-target"><span class="sr-only">이벤트 대상자 확인</span></button>
					<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/target.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<div id="sectorEvent" class="sector-event">
		<div class="wrap">
			<div class="event-title">이벤트 참여하기</div>
			<div class="event-step step-1">
				<div class="step-title">01. 내가 수강한 과목을 선택 해주세요</div>
				<div class="step-box">
					<ul class="select-section">
						<li><a href="javascript:;" class="on">MRT 부동산 종합실무 마스터</a></li>
						<li><a href="javascript:;">부동산 창업 마스터</a></li>
						<li><a href="javascript:;">창업CEO 과정</a></li>
						<li><a href="javascript:;">실전경매 마스터</a></li>
						<li><a href="javascript:;">부동산 디벨로퍼</a></li>
						<li><a href="javascript:;">부동산 고수익 실전 테마 특강</a></li>
					</ul>
				</div>
			</div>

			<div class="event-step step-2">
				<div class="step-title">02. 내가 수강한 과목의 수강후기를 남겨주세요.</div>
				<div class="step-box">
					<div class="form-section">
						<div class="review-form">
							<div class="grid">
								<input type="text" name="" id="" class="col input-text" value="MRT 부동산 종합실무 마스터" readonly="readonly">
								<textarea name="" id="" cols="30" rows="10" class="col textarea" placeholder="수강후기를 남겨주세요. (수강후기는 30자 이상 남겨주세요)"></textarea>
								<button href="javascript:;" class="col btn-apply" ><span><em>수강후기</em><em>등록하기</em></span></button>
							</div>
						</div>
						<div class="review-list-wrap">
							<div class="post-head">
								<div class="col post-num">No</div>
								<div class="col post-user">아이디</div>
								<div class="col post-subject">수강과목</div>
								<div class="col post-text">추천이유</div>
							</div>
							<div class="post-item">
								<div class="col post-num">123</div>
								<div class="col post-user">tes****</div>
								<div class="col post-subject">MRT 부동산 종합실무 마스터</div>
								<div class="col post-text">감사합니다감사합니다감사합니다감사합니다감사합니다 감사합니다감사합니다감사합니다감사합니다감 감사합니다감사합니다감사합니다</div>
							</div>

							<div class="post-item">
								<div class="col post-num">123</div>
								<div class="col post-user">tes****</div>
								<div class="col post-subject">MRT 부동산 종합실무 마스터</div>
								<div class="col post-text">감사합니다감사합니다감사합니다감사합니다감사합니다 감사합니다감사합니다감사합니다감사합니다감 감사합니다감사합니다감사합니다</div>
							</div>

							<div id="reviewPagination" class="paging">
								<a href="javascript:;" class="control control-prev"><span class="sr-only">이전 페이지</span></a>
								<a href="javascript:;" class="active"><span>1</span></a>
								<a href="javascript:;"><span>2</span></a>
								<a href="javascript:;"><span>3</span></a>
								<a href="javascript:;"><span>4</span></a>
								<a href="javascript:;"><span>5</span></a>
								<a href="javascript:;"><span>6</span></a>
								<a href="javascript:;"><span>7</span></a>
								<a href="javascript:;"><span>8</span></a>
								<a href="javascript:;"><span>9</span></a>
								<a href="javascript:;"><span>10</span></a>
								<a href="javascript:;" class="control control-next"><span class="sr-only">다음 페이지</span></a>
							</div>

							<div id="reviewPagination2" class="list-more">
								<a href="javascript:;"><span>더보기</span></a>
							</div>
						</div>
					</div>

					<div class="comment-privacy">
						<div class="wrap">
							<div class="agree_check">
								<input type="checkbox" name="commSomun-personalYn" id="commSomun-personalYn" value="Y">
								<label for="commSomun-personalYn">개인정보 수집 및 이용에 동의(필수)</label>
							</div>
							<div class="scroll_box">
								<strong>개인정보 수집 및 이용 동의 안내</strong>
									1. 수집 및 이용 목적 : 참여자 정보 확인 ,부동산아카데미 수강후기 이벤트 혜택 제공<br>
								2. 개인정보 수집 항목 : 이름, 휴대폰 번호<br>
								3. 개인정보 보유/이용 기간 : <em>이벤트 종료 후 60일</em><br>
								4. 이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다. 단, 거부할 경우 본 이벤트 신청이 제한됩니다.<br>
								<strong class="highlight">5. 수강후기는 공개를 전제로 작성하는 것으로 회사의 홍보 및 마케팅을 위한 온/오프라인 제작물에 활용될 수 있으며, 개인정보는 식별방지를 위해 안전하게 마스킹(*처리) 됩니다.</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-notice">
		<div class="wrap">
			<div class="notice-title">유의사항</div>
			<ul>
				<li>수강후기 이벤트는 중복 참여가 불가능합니다.</li>
				<li>댓글은 30자 이상, 500자 이하로 작성가능하며, 욕설 및 도배 등 주제와 관련 없는 글은 임의로 삭제될 수 있습니다.</li>
				<li>수강할인권과 경매사이트 무료이용권은 후기 등록 시 자동 발급됩니다.</li>
				<li>수강할인권은 발급 후 7일 이내 사용이 가능하며 재발급되지 않습니다.(적용상품 : MRT, 창업마스터, 실전경매마스터, 부동산 디벨로퍼, 부동산 고수익 실전 테마 특강)</li>
				<li>
					경매사이트 무료이용권은 탱크옥션 사이트 내 등록 후 사용가능하며, 회원가입 시 반드시 에듀윌 전용링크를 통해 접속하셔야 합니다.
					<a href="https://www.tankauction.com/ptnr/?id=eduwill" target="_blank" class="btn-small">경매 사이트 무료 이용권 등록 바로가기</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="sector-coupon">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/coupon_1.jpg" alt="" />
			<div class="coupon-notice">
				<ul>
					<li>수강할인권은 발급 후 7일 이내 사용이 가능하며 재발급되지 않습니다.</li>
					<li><strong>적용 가능 상품 :</strong> MRT 부동산종합실무마스, 부동산 창업마스터(6개월/12월), 실전경매 마스터, 부동산 디벨로퍼, 부동산 고수익 실전 테마 특강</li>
				</ul>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/method_1.jpg" alt="" />
		</div>
	</div>

	<div class="sector-product">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/product_title.jpg" alt="">
			<div class="grid product-list">
				<div class="col product-1">
					<div class="subject">
						<strong>MRT 부동산</strong><strong>종합실무 마스터</strong>
					</div>
					@if ("W".Equals(ViewBag.PlatformCd))
					{
						<div class="box benefit-1">
							<ul>
								<li>부동산 창업마스터</li>
								<li>황종화 실전경매 마스터</li>
								<li>부동산 디벨로퍼</li>
							</ul>
							<strong class="large">[3개의 과목을 한번에 수강]</strong>
						</div>
						<div class="box benefit-2">
							<ul>
								<li>교재 13권 및 교안 제공<br>　 </li>
							</ul>
							<div class="book-img">
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/pc/book_1.jpg" alt="">
							</div>
						</div>
						<div class="box benefit-3">
							<ul>
								<li>부동산 전문가 인증 수료패, 수료증 </li>
								<li>상가분석사 자격증 응시자격 부여</li>
							</ul>
						</div>
					}
					else
					{
						<div class="box benefit-desc">
							<div class="desc-grid">
								<div class="col label-tag"><span>과정</span></div>
								<div class="col desc-list">
									<p>· 3개의 과목을 한번에 수강!</p>
									<ul>
										<li>부동산 창업마스터</li>
										<li>황종화 실전경매 마스터</li>
										<li>부동산 디벨로퍼</li>
									</ul>
								</div>
							</div>

							<div class="desc-grid">
								<div class="col label-tag"><span>교재</span></div>
								<div class="col desc-list">
									<p>· 교재 13권 및 교안 제공 (24만원 상당)</p>
								</div>
							</div>

							<div class="desc-grid">
								<div class="col label-tag"><span>혜택</span></div>
								<div class="col desc-list">
									<p>· 부동산 전문가 인증 수료패, 수료증</p>
									<p>· 상가분석사 자격증 응시자격 부여</p>
								</div>
							</div>
							
						</div>
					}
					<div class="box benefit-price">
						<div class="grid price-grid">
							<div class="col">
								<div class="price-month">12개월</div>

								<div class="price-won">
									<div class="before">4,340,000</div>
									<div class="after">2,880,000</div>
								</div>
							</div>
						</div>
						<div class="action">
							<a href="@link1" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/btn_view.png" alt="">
							</a>
						</div>
					</div>
				</div>

				<div class="col product-2">
					<div class="subject">
						<strong>부동산</strong><strong>창업 마스터</strong>
					</div>
					@if ("W".Equals(ViewBag.PlatformCd))
					{
						<div class="box benefit-1">
							<ul>
								<li>사무소 세팅, 계약서 작성</li>
								<li>실전영업, IT 마케팅,<br>부동산 컨설팅</li>
								<li>상가, 빌딩, 토지 중개</li>
								<li>재개발/재건축</li>
							</ul>
						</div>
						<div class="box benefit-2">
							<ul>
								<li>교재 8권 제공<br>　 </li>
							</ul>
							<div class="book-img">
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/pc/book_2.jpg" alt="">
							</div>
						</div>
						<div class="box benefit-3">
							<ul>
								<li>수료증 </li>
								<li>상가분석사 자격증 응시자격 부여 </li>
							</ul>
						</div>
					}
					else
					{
						<div class="box benefit-desc">
							<div class="desc-grid">
								<div class="col label-tag"><span>과정</span></div>
								<div class="col desc-list">
									<p>· 사무소 세팅, 계약서 작성</p>
									<p>· 실전영업, IT 마케팅, 부동산 컨설팅</p>
									<p>· 상가, 빌딩, 토지 중개</p>
									<p>· 재개발/재건축</p>
								</div>
							</div>

							<div class="desc-grid">
								<div class="col label-tag"><span>교재</span></div>
								<div class="col desc-list">
									<p>· 교재 8권 및 교안 제공 (11만원 상당)</p>
								</div>
							</div>

							<div class="desc-grid">
								<div class="col label-tag"><span>혜택</span></div>
								<div class="col desc-list">
									<p>· 수료증</p>
									<p>· 상가분석사 자격증 응시자격 부여</p>
								</div>
							</div>
							
						</div>
					}
					<div class="box benefit-price">
						<div class="grid price-grid">
							<div class="col">
								<div class="price-month">6개월</div>

								<div class="price-won">
									<div class="before">1,190,000</div>
									<div class="after">990,000</div>
								</div>
							</div>

							<div class="col">
								<div class="price-month">12개월</div>

								<div class="price-won">
									<div class="before">1,590,000</div>
									<div class="after">1,390,000</div>
								</div>
							</div>
						</div>
						<div class="action">
							<a href="@link2" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/btn_view.png" alt="">
							</a>
						</div>
					</div>
				</div>

				<div class="col product-3">
					<div class="subject">
						<strong>황종화</strong><strong>실전경매 마스터</strong>
					</div>
					@if ("W".Equals(ViewBag.PlatformCd))
					{
						<div class="box benefit-1">
							<ul>
								<li>일반경매</li>
								<li>권리분석</li>
								<li>특수경매</li>
								<li>NPL경매</li>
							</ul>
						</div>
						<div class="box benefit-2">
							<ul>
								<li>교재 4권 제공<br>　 </li>
							</ul>
							<div class="book-img">
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/pc/book_3.jpg" alt="">
							</div>
						</div>
						<div class="box benefit-3">
							<ul>
								<li>두인경매 2개월 무료이용권 </li>
							</ul>
						</div>
					}
					else
					{
						<div class="box benefit-desc">
							<div class="desc-grid">
								<div class="col label-tag"><span>과정</span></div>
								<div class="col desc-list">
									<p>· 일반경매</p>
									<p>· 권리분석</p>
									<p>· 특수경매</p>
									<p>· NPL경매</p>
								</div>
							</div>

							<div class="desc-grid">
								<div class="col label-tag"><span>교재</span></div>
								<div class="col desc-list">
									<p>· 교재 4권 제공(11만원 상당)</p>
								</div>
							</div>

							<div class="desc-grid">
								<div class="col label-tag"><span>혜택</span></div>
								<div class="col desc-list">
									<p>· 두인경매 2개월 무료이용권</p>
								</div>
							</div>
							
						</div>
					}
					<div class="box benefit-price">
						<div class="grid price-grid">
							<div class="col">
								<div class="price-month">12개월</div>
								<div class="price-won">
									<div class="before">1,150,000</div>
									<div class="after">790,000</div>
								</div>
							</div>
						</div>
						<div class="action">
							<a href="@link3" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/btn_view.png" alt="">
							</a>
						</div>
					</div>
				</div>

				<div class="col product-4">
					<div class="subject">
						<strong>부동산</strong><strong>디벨로퍼</strong>
					</div>
					@if ("W".Equals(ViewBag.PlatformCd))
					{
						<div class="box benefit-1">
							<ul>
								<li>권리, 입지, 상권, 시장 분석</li>
								<li>자금 조달 방법</li>
								<li>부동산 개발 사업계획 수립,<br>사업성 검토, 추진</li>
							</ul>
						</div>
						<div class="box benefit-2">
							<ul>
								<li>‘한방에 끝내는 부동산 개발사업’ 교재 제공</li>
							</ul>
							<div class="book-img">
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/pc/book_4.jpg" alt="">
							</div>
						</div>
						<div class="box benefit-3">
							<ul>
								<li>수료증 </li>
							</ul>
						</div>
					}
					else
					{
						<div class="box benefit-desc">
							<div class="desc-grid">
								<div class="col label-tag"><span>과정</span></div>
								<div class="col desc-list">
									<p>· 권리, 입지, 상권, 시장 분석</p>
									<p>· 자금 조달 방법</p>
									<p>· 부동산 개발 사업계획 수립, 사업성 검토, 추진</p>
								</div>
							</div>

							<div class="desc-grid">
								<div class="col label-tag"><span>교재</span></div>
								<div class="col desc-list">
									<p>· ‘한방에 끝내는 부동산 개발사업’ 교재 제공</p>
								</div>
							</div>

							<div class="desc-grid">
								<div class="col label-tag"><span>혜택</span></div>
								<div class="col desc-list">
									<p>· 수료증</p>
								</div>
							</div>
							
						</div>
					}
					<div class="box benefit-price">
						<div class="grid price-grid">
							<div class="col">
								<div class="price-month">12개월</div>

								<div class="price-won">
									<div class="before">1,600,000</div>
									<div class="after">1,400,000</div>
								</div>
							</div>
						</div>
						<div class="action">
							<a href="@link4" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/btn_view.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-coupon">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/coupon_2.jpg" alt="" />
			<div class="coupon-notice">
				<ul>
					<li>회원정보에 기입된 휴대폰번호로 쿠폰번호 발송됩니다.(SMS 수신동의 필수, 문의 1600-6700)</li>
					<li>탱크옥션 회원가입이 필요하며 반드시 <strong class="highlight">에듀윌 전용링크를 통해 가입</strong>해야 정상적인 이용권 등록이 가능합니다.</li>
					<li>기존 동일한 혜택을 받은 이력이 있는 경우 이용이 불가합니다.</li>
				</ul>
			</div>
			<div class="holder">
				<a href="https://www.tankauction.com/ptnr/?id=eduwill" target="_blank" class="btn-link"><span class="sr-only">탱크옥션 바로가기</span></a>
				<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/method_2.jpg" alt="" />
			</div>
		</div>
	</div>

	<div class="sector-bar">
		<div class="wrap">
			<div class="bar-title">
				<strong>아직 에듀윌 부동산아카데미 회원이 아니신가요?</strong>
				<span>그럼 지금 회원가입하고 혜택 받아가세요.</span>
			</div>
			<a href="https://event.eduwill.net/Event/2022/_105/StartPack" target="_blank" class="btn-join icon-pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220311/@platform/btn_join.png" alt="" />
			</a>
		</div>
	</div>

</div>

<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var agent = navigator.userAgent.toLowerCase();
	var trident = navigator.userAgent.match(/Trident\/(\d.\d)/i);
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function(){
		init();
	});

	function init(){
		scrollEvent();
		titleEvent();
		addEvent();
		slideEvent();
	};

	function addEvent(){
		pageMove('.page-move');
		/*if ("@(ViewBag.platformCd)" == "M") {
		}*/

	}
	

	function scrollEvent(){
		$(window).scroll(function () {
			var wt = $(window).scrollTop();
			var section = $('[class^="sector-"]');

			section.each(function(i){
				if( wt >= section.eq(i).offset().top - (section.height()/2) ){
					$(this).addClass('active');
				} else {
					$(this).removeClass('active');
				}
			});
		});
	}
	
	function titleEvent(){
		var $title = $('.sector-title');
		setTimeout(function() { $(".title-1").css('opacity', '1').addClass('animate__bounceIn animate__animated ') }, 100);
		setTimeout(function() { $(".title-2").css('opacity', '1').addClass('animate__bounceIn animate__animated ') }, 200)
		setTimeout(function() { $(".title-box").css('opacity', '1').addClass('animate__fadeIn animate__animated') }, 300);

		TweenMax.fromTo( $title.find('.deco-1'), .8, { opacity: 0, y: -300}, { opacity: 1, y: 0, delay: .5, ease: Bounce.easeOut});
		TweenMax.fromTo( $title.find('.deco-2'), .8, { opacity: 0, y: -300}, { opacity: 1, y: 0, delay: .6, ease: Bounce.easeOut});
		TweenMax.fromTo( $title.find('.deco-3'), .8, { opacity: 0, y: -300}, { opacity: 1, y: 0, delay: .7, ease: Bounce.easeOut});
		TweenMax.fromTo( $title.find('.deco-4'), .8, { opacity: 0, y: -300}, { opacity: 1, y: 0, delay: .9, ease: Bounce.easeOut});
	}

	
	function slideEvent(){
		$('.slider').each(function(key, item) {
			var sliderIdName = 'slider' + key;
				this.id = sliderIdName;
			var sliderId = '#' + sliderIdName;

			$(sliderId).slick({
				autoplay: true,
				autoplaySpeed: 2000,
				speed: 800,
				infinite: true,
				arrows: false,
				dots: true
			});
		});

		if( !isMobile && checkUrl ){
			_arrow = false;
			_dot = true;
			_boolean = true;

		} else {
			_arrow = false;
			_dot = true;
			_boolean = false;
		}

		$('.network-slider').slick({
			autoplay: true,
			autoplaySpeed: 2000,
			infinite: true,
			arrows: _arrow,
			dots:_dot,
			slidesToScroll: 1,
			speed: 800,
			centerMode: true,
			variableWidth: _boolean,
			responsive: [{
				breakpoint: 720,
				settings: {
					slidesToShow: 1,
				}
			}]
		});
	}
</script>